@page "/account/profile"

@using PersonalDataModel = eShop.BlazorWebUI.Models.PersonalDataModel

@inject IUserStorage UserStorage
@inject IUsersService UsersService

@attribute [Authorize]

<Title Text="Profile"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="8">
        <MudGrid>
            <MudItem xs="3">
                <MudPaper Outlined="true" Class="pa-5">
                    <MudStack Class="w-100">
                        <MudImage
                            Class="w-100 h-auto rounded-lg"
                            Alt="Avatar"
                            Src="/images/no-avatar.png"
                            FallbackSrc="/images/no-avatar.png"/>

                        <MudButton
                            FullWidth="true"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            ButtonType="ButtonType.Button">
                            Change avatar
                        </MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="9">
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12">
                                    <MudText Class="mb-2" Typo="Typo.h6">
                                        Account information
                                    </MudText>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudText>
                                        User name
                                    </MudText>
                                </MudItem>
                                <MudItem xs="9">
                                    <MudText>
                                        @UserModel.UserName
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudDivider/>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudText>
                                        Email address
                                    </MudText>
                                </MudItem>
                                <MudItem xs="9">
                                    <MudText>
                                        @UserModel.Email
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudDivider/>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudText>
                                        Phone number
                                    </MudText>
                                </MudItem>
                                <MudItem xs="9">
                                    <MudText>
                                        @(string.IsNullOrEmpty(UserModel.PhoneNumber) ? "-" : UserModel.PhoneNumber)
                                    </MudText>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12">
                                    <MudText Class="mb-2" Typo="Typo.h6">
                                        Personal information
                                    </MudText>
                                </MudItem>
                                @if (PersonalDataModel is not null)
                                {
                                    <MudItem xs="3">
                                        <MudText>
                                            First name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @PersonalDataModel.FirstName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Last name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @PersonalDataModel.LastName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Birth date
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @PersonalDataModel.BirthDate
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Gender
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @PersonalDataModel.Gender
                                        </MudText>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private UserModel UserModel { get; set; } = new();
    private PersonalDataModel? PersonalDataModel { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await LoadUserAsync();
            // await LoadPersonalDataAsync();
            
            StateHasChanged();
        }
    }

    // private async Task LoadUserAsync()
    // {
    //     var user = await UserStorage.GetAsync();
    //
    //     if (user is not null)
    //     {
    //         UserModel = Mapper.Map(user);
    //     }
    // }
    //
    // private async Task LoadPersonalDataAsync()
    // {
    //     var result = await UsersService.GetPersonalDataAsync(UserModel.Id);
    //
    //     if (result.Success)
    //     {
    //         var response = result.Get<PersonalDataDto>()!;
    //         var model = Mapper.Map(response);
    //         PersonalDataModel = model;
    //     }
    //     else
    //     {
    //         PersonalDataModel = null;
    //     }
    // }

}