@page "/account/profile"

@inherits PageBase

@attribute [Authorize]

@inject IUsersService UsersService

<Title Text="Profile"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="8">
        <MudGrid>
            <MudItem xs="3">
                <MudPaper Outlined="true" Class="pa-5">
                    <MudStack Class="w-100">
                        <MudImage
                            Class="w-100 h-auto rounded-lg"
                            Alt="Avatar"
                            Src="/images/no-avatar.png"
                            FallbackSrc="/images/no-avatar.png"/>

                        <MudButton
                            FullWidth="true"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            ButtonType="ButtonType.Button">
                            Change avatar
                        </MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="9">
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12">
                                    <MudText Class="mb-2" Typo="Typo.h6">
                                        Account information
                                    </MudText>
                                </MudItem>
                                <MudItem xs="3" Class="mt-2">
                                    <MudText>
                                        User name
                                    </MudText>
                                </MudItem>
                                <MudItem xs="8" Class="mt-2">
                                    <MudText Inline="true">
                                        @UserModel.UserName
                                    </MudText>
                                </MudItem>
                                <MudItem xs="1">
                                    <MudIconButton 
                                        Icon="@Icons.Material.Filled.Edit" 
                                        Color="Color.Primary" 
                                        Variant="Variant.Filled"
                                        OnClick="@(() => NavigationManager.NavigateTo("/account/change-username"))"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudDivider/>
                                </MudItem>
                                <MudItem xs="3" Class="mt-2">
                                    <MudText>
                                        Email address
                                    </MudText>
                                </MudItem>
                                <MudItem xs="8" Class="mt-2">
                                    <MudText>
                                        @UserModel.Email
                                    </MudText>
                                </MudItem>
                                <MudItem xs="1">
                                    <MudIconButton 
                                        Icon="@Icons.Material.Filled.Edit" 
                                        Color="Color.Primary" 
                                        Variant="Variant.Filled"
                                        OnClick="@(() => NavigationManager.NavigateTo("/account/change-email"))"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudDivider/>
                                </MudItem>
                                <MudItem xs="3" Class="mt-2">
                                    <MudText>
                                        Phone number
                                    </MudText>
                                </MudItem>
                                <MudItem xs="8" Class="mt-2">
                                    <MudText>
                                        @(string.IsNullOrEmpty(UserModel.PhoneNumber) ? "-" : UserModel.PhoneNumber)
                                    </MudText>
                                </MudItem>
                                <MudItem xs="1">
                                    <MudIconButton 
                                        Icon="@Icons.Material.Filled.Edit" 
                                        Color="Color.Primary" 
                                        Variant="Variant.Filled" 
                                        OnClick="@(() => NavigationManager.NavigateTo("/account/change-phone-number"))"/>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12">
                                    <MudText Class="mb-2" Typo="Typo.h6">
                                        Personal information
                                    </MudText>
                                </MudItem>
                                @if (UserModel.PersonalData is not null)
                                {
                                    <MudItem xs="3">
                                        <MudText>
                                            First name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.FirstName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Last name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.LastName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Birth date
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.BirthDate
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Gender
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.Gender.ToString()
                                        </MudText>
                                    </MudItem>
                                    <MudItem Class="mt-2" xs="12">
                                        <MudButton
                                            Color="Color.Primary"
                                            Variant="Variant.Filled"
                                            ButtonType="ButtonType.Button">
                                            Change personal data
                                        </MudButton>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private UserModel UserModel { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId");
        var result = await UsersService.GetUserAsync(userId);
   
        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
}