@page "/account/security"

@inherits PageBase

@inject IUsersService UsersService
@inject IDialogService DialogService
@inject ITwoFactorService TwoFactorService
@inject IProvidersService ProvidersService

@attribute [Authorize]

<Title Text="Security"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudGrid Spacing="2" Justify="Justify.Center">
            <MudItem xs="12">
                <MudPaper Outlined="true" Class="pa-5">
                    <MudGrid Justify="Justify.Center">
                        <MudItem xs="11">
                            <MudText Typo="Typo.h6" Inline="true">
                                Two-factor authentication (2FA):
                            </MudText>
                            @if (UserModel.TwoFactorEnabled is not null)
                            {
                                if (UserModel.TwoFactorEnabled.Value)
                                {
                                    <MudText Typo="Typo.h6" Inline="true" Color="Color.Success">
                                        Enabled
                                    </MudText>
                                }
                                else
                                {
                                    <MudText Typo="Typo.h6" Inline="true" Color="Color.Error">
                                        Disabled
                                    </MudText>
                                }
                            }
                        </MudItem>
                        <MudItem xs="1" Class="text-end">
                            @if (UserModel.TwoFactorEnabled is not null)
                            {
                                <MudTooltip Text="@(UserModel.TwoFactorEnabled.Value ? "Disable" : "Enable")">
                                    <MudIconButton
                                        Color="@(UserModel.TwoFactorEnabled.Value ? Color.Error : Color.Success)"
                                        Variant="Variant.Filled"
                                        ButtonType="ButtonType.Button"
                                        Icon="@(UserModel.TwoFactorEnabled.Value
                                                  ? Icons.Material.Filled.Close
                                                  : Icons.Material.Filled.Check)"
                                        OnClick="async () => await OnTwoFactorStateChangeAsync()"/>
                                </MudTooltip>
                            }
                        </MudItem>
                        @if (UserModel.TwoFactorEnabled.HasValue && UserModel.TwoFactorEnabled.Value)
                        {
                            <MudItem xs="12">
                                <MudDivider/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudGrid>
                                    @foreach (var provider in SecurityModel.Providers)
                                    {
                                        <MudItem xs="5" Class="mt-2">
                                            <MudText>
                                                @provider.Name
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="5">
                                            <MudText Class="mt-2"
                                                     Color="@(provider.Subscribed ? Color.Success : Color.Error)">
                                                @(provider.Subscribed ? "Enabled" : "Disabled")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="2" Class="text-end">
                                            @if (provider is { Name: "Authenticator", Subscribed: true })
                                            {
                                                <MudTooltip Text="Show QR code">
                                                    <MudIconButton
                                                        Class="mx-1"
                                                        Color="Color.Info"
                                                        Variant="Variant.Filled"
                                                        ButtonType="ButtonType.Button"
                                                        Icon="@Icons.Material.Filled.QrCode"
                                                        OnClick="async () => await OnShowQrCodeAsync()"/>
                                                </MudTooltip>
                                            }
                                            @if (provider.Subscribed)
                                            {
                                                <MudTooltip Text="Disable">
                                                    <MudIconButton
                                                        OnClick="async () => await OnUnsubscribeAsync(provider.Name)"
                                                        Color="Color.Error"
                                                        Variant="Variant.Filled"
                                                        ButtonType="ButtonType.Button"
                                                        Icon="@Icons.Material.Filled.Close"/>
                                                </MudTooltip>
                                            }
                                            else
                                            {
                                                <MudTooltip Text="Enable">
                                                    <MudIconButton
                                                        OnClick="async () => await OnSubscribeAsync(provider.Name)"
                                                        Color="Color.Success"
                                                        Variant="Variant.Filled"
                                                        ButtonType="ButtonType.Button"
                                                        Icon="@Icons.Material.Filled.Check"/>
                                                </MudTooltip>
                                            }
                                        </MudItem>

                                        if (provider != SecurityModel.Providers.Last())
                                        {
                                            <MudItem xs="12">
                                                <MudDivider/>
                                            </MudItem>
                                        }
                                    }
                                </MudGrid>
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Outlined="true" Class="pa-5">
                    <MudGrid Justify="Justify.Center">
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6">
                                Password
                            </MudText>
                            @if (UserModel.PasswordChangeDate is not null)
                            {
                                <MudText Align="Align.Start" Typo="Typo.caption" Style="opacity: .5;" Class="mb-2">
                                    Last change: @UserModel.PasswordChangeDate.Value.ToString("MM/dd/yyyy HH:mm")
                                </MudText>
                            }
                        </MudItem>
                        <MudItem xs="12">
                            <MudButton
                                Color="Color.Primary"
                                Variant="Variant.Filled"
                                ButtonType="ButtonType.Button"
                                OnClick="async () => await OnChangePasswordAsync()">
                                Change password
                            </MudButton>
                            <MudButton
                                Color="Color.Error"
                                Variant="Variant.Outlined"
                                ButtonType="ButtonType.Button"
                                OnClick="async () => await OnResetPasswordAsync()">
                                Reset password
                            </MudButton>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private UserModel UserModel { get; set; } = new();
    private SecurityModel SecurityModel { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserAsync();
            await LoadProvidersAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId");
        var result = await UsersService.GetUserAsync(userId);

        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task LoadProvidersAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId");
        var result = await UsersService.GetTwoFactorProvidersAsync(userId);

        if (result.Success)
        {
            SecurityModel.Providers = result.Get<List<UserProviderDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangePasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangePasswordModel() { Id = UserModel.Id };

        var parameters = new DialogParameters<ChangePasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePasswordDialog>("Change password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task OnResetPasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ResetPasswordModel() { Id = UserModel.Id };

        var parameters = new DialogParameters<ResetPasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ResetPasswordDialog>("Reset password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task OnTwoFactorStateChangeAsync()
    {
        var request = new ChangeTwoFactorStateRequest() { Id = UserModel.Id };
        var result = await TwoFactorService.ChangeStateAsync(request);

        if (result.Success)
        {
            await LoadUserAsync();
            StateHasChanged();

            var message = UserModel.TwoFactorEnabled!.Value
                ? "Two-factor authentication was enabled"
                : "Two-factor authentication was disabled";

            Snackbar.Add(message, Severity.Success);
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnSubscribeAsync(string provider)
    {
        var request = new SubscribeProviderRequest() { Id = UserModel.Id, Provider = provider };
        var result = await ProvidersService.SubscribeProviderAsync(request);

        if (result.Success)
        {
            await LoadProvidersAsync();
            StateHasChanged();
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnUnsubscribeAsync(string provider)
    {
        var request = new UnsubscribeProviderRequest() { Id = UserModel.Id, Provider = provider };
        var result = await ProvidersService.UnsubscribeProviderAsync(request);

        if (result.Success)
        {
            await LoadProvidersAsync();
            StateHasChanged();
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnShowQrCodeAsync()
    {
        if (string.IsNullOrEmpty(SecurityModel.QrCode))
        {
            var request = new GenerateQrCodeRequest() { UserId = UserModel.Id };
            var result = await TwoFactorService.GenerateQrCodeAsync(request);

            if (result.Success)
            {
                var response = result.Get<GenerateQrCodeResponse>()!;
                SecurityModel.QrCode = response.QrCode;

                await ShowQrCodeAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
        else
        {
            await ShowQrCodeAsync();
        }
    }

    private async Task ShowQrCodeAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<ShowQrCodeDialog>()
        {
            { x => x.QrCode, SecurityModel.QrCode }
        };

        var dialog = await DialogService.ShowAsync<ShowQrCodeDialog>("QR code dialog", parameters, options);
    }

}