@page "/products/create"

@inherits PageBase

@attribute [Authorize]

@inject ITypeService TypeService
@inject IUnitService UnitService
@inject IPriceService PriceService

<Title Text="Create product"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudPaper Outlined="true" Class="pa-3">
            <MudForm Model="Model">
                <MudGrid Spacing="1" Justify="Justify.Center">
                    <MudItem xs="12">
                        <MudTextField 
                            Label="Name"
                            @bind-Value="Model.Name"
                            For="() => Model.Name"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true"/>
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField 
                            Label="Quantity in stock"
                            @bind-Value="Model.QuantityInStock"
                            For="() => Model.QuantityInStock"
                            Step="1"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true"/>
                    </MudItem>
                    <MudItem xs="6">
                        <MudSelect
                            T="Guid?"
                            Label="Units"
                            For="() => Model.Unit.Id"
                            Value="Model.Unit.Id"
                            ValueChanged="@((value) => OnUnitChanged(value))"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true">
                            @foreach (var type in Model.Units)
                            {
                                <MudSelectItem T="Guid?" Value="type.Id">@($"{type.Name} ({type.Code})")</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField 
                            Label="Price"
                            @bind-Value="Model.Price"
                            For="() => Model.Price"
                            Step="0.1m"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true"/>
                    </MudItem>
                    <MudItem xs="6">
                        <MudSelect
                            T="Guid?"
                            Label="Price per"
                            For="() => Model.PriceType.Id"
                            Value="Model.PriceType.Id"
                            ValueChanged="@((value) => OnPriceTypeChanged(value))"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true">
                            @foreach (var type in Model.PriceTypes)
                            {
                                <MudSelectItem T="Guid?" Value="type.Id">@type.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12">
                        <MudSelect
                            T="Guid?"
                            Label="Type"
                            For="() => Model.Type.Id"
                            Value="Model.Type.Id"
                            ValueChanged="@((value) => OnTypeChanged(value))"
                            Variant="Variant.Outlined"
                            Immediate="true"
                            Clearable="true">
                            @foreach (var type in Model.Types)
                            {
                                <MudSelectItem T="Guid?" Value="type.Id">@type.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    @if (!string.IsNullOrEmpty(Model.Type.Name))
                    {
                        <MudItem xs="12">
                            <Properties Model="Model"/>
                        </MudItem>
                    }
                </MudGrid>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ProductModel Model { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUnitsAsync();
            await LoadTypesAsync();
            await LoadPriceTypesAsync();
            
            StateHasChanged();
        }
    }

    private async Task LoadUnitsAsync()
    {
        var result = await UnitService.GetAllAsync();

        if (result.Success)
        {
            Model.Units = result.Get<List<UnitDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task LoadTypesAsync()
    {
        var result = await TypeService.GetAllAsync();

        if (result.Success)
        {
            Model.Types = result.Get<List<TypeDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task LoadPriceTypesAsync()
    {
        var result = await UnitService.GetAllAsync();

        if (result.Success)
        {
            Model.PriceTypes = result.Get<List<PriceTypeDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private void OnPriceTypeChanged(Guid? value)
    {
        if (value.HasValue)
        {
            var priceType = Model.PriceTypes.Find(x => x.Id == value)!;
            Model.PriceType = new()
            {
                Id = priceType.Id,
                Name = priceType.Name
            };
        }
    }

    private void OnUnitChanged(Guid? value)
    {
        if (value.HasValue)
        {
            var unit = Model.Units.Find(x => x.Id == value)!;
            Model.Unit = new UnitModel
            {
                Id = unit.Id,
                Name = unit.Name,
                Code = unit.Code
            };
        }
    }
    
    private void OnTypeChanged(Guid? value)
    {
        if (value.HasValue)
        {
            var type = Model.Types.Find(x => x.Id == value)!;
            Model.Type = new TypeModel()
            {
                Id = type.Id,
                Name = type.Name
            };
        }
    }
}