<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["eShop.Blazor.Server.UI.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/global.css"]" />
    <link rel="stylesheet" href="@Assets["https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"]" />
    <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css"]"  />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    <script src="@Assets["_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"]"></script>
    <script src="@Assets["scripts/scrollAnimation.js"]"></script>
    <script src="@Assets["scripts/pageTitle.js"]"></script>
    <script src="@Assets["scripts/cookieManager.js"]"></script>
    <script src="@Assets["scripts/fileDownload.js"]"></script>
    <script src="@Assets["scripts/webAuthN.js"]"></script>
    <script src="@Assets["scripts/fetchClient.js"]"></script>
    <script src="@Assets["scripts/clipboard.js"]"></script>
    <script src="@Assets["scripts/printer.js"]"></script>
</body>

</html>
