@page "/account/secondary-email/add"

@using eShop.Blazor.Application.Validation
@using Size = MudBlazor.Size

@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject CodeModelValidator Validator

<Title Text="Add secondary email"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Add" Title="Recovery number">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Secondary email
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="addPhoneNumberForm"
                                            Model="EmailModel">
                                            <MudGrid Spacing="1" Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Align="Align.Center" Typo="Typo.body1"
                                                             Style="width: 55ch; margin: auto">
                                                        To add a secondary email, please enter an email.
                                                        We will send an email with 6-digit code to this recovery email.
                                                    </MudText>
                                                    <br/>
                                                    <MudTextField
                                                        Label="Recovery email"
                                                        Class="mt-2"
                                                        For="@(() => EmailModel.Email)"
                                                        Variant="Variant.Outlined"
                                                        Immediate
                                                        @bind-Value="EmailModel.Email"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        Size="Size.Large" FullWidth
                                                        Variant="Variant.Filled"
                                                        Class="mt-2"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnAddAsync())">
                                                        Send code
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="verifyCodeForm"
                                            Model="CodeModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="1">
                                                <MudText Align="Align.Center" Typo="Typo.body1"
                                                         Style="width: 55ch; margin: auto">
                                                    Enter the 6-digit code from the email we sent you to:
                                                    <strong>@EmailModel.Email</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="CodeModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    Size="Size.Large" FullWidth
                                                    Variant="Variant.Filled"
                                                    Class="mt-2"
                                                    Color="Color.Primary"
                                                    Disabled="@(CodeModel.Code.Length <= 5)"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received an email?
                                            <strong @onclick="async () => await SendCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private AddEmailModel EmailModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel CodeModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm addPhoneNumberForm = new();
    private MudForm verifyCodeForm = new();

    private async Task SendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Email,
            Type = CodeType.Verify,
            Sender = SenderType.Email,
            Payload =
            {
                { "Email", EmailModel.Email }
            }
        };

        var response = await SecurityService.SendCodeAsync(request);

        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnAddAsync()
    {
        await addPhoneNumberForm.Validate();

        if (addPhoneNumberForm.IsValid)
        {
            var request = new AddEmailRequest()
            {
                UserId = UserState.UserId,
                Email = EmailModel.Email,
                Type = EmailType.Recovery
            };

            var result = await SecurityService.AddEmailAsync(request);

            if (result.Success)
            {
                await SendCodeAsync();
                await StepNextAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnVerifyAsync()
    {
        await verifyCodeForm.Validate();

        if (verifyCodeForm.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.Email,
                Type = CodeType.Verify,
                Sender = SenderType.Email,
                Code = CodeModel.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyEmailRequest()
        {
            UserId = UserState.UserId,
            Email = EmailModel.Email,
        };

        var result = await SecurityService.VerifyEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            RouteManager.Route("/account/emails");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}