@page "/account/phone-number/remove"

@using eShop.Blazor.Application.Validation
@using eShop.Blazor.Domain.Interfaces
@using eShop.Blazor.Domain.Models
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject CodeModelValidator Validator

<Title Text="Phone number remove"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number remove
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudStack Spacing="4">
                                            <MudText Align="Align.Center">
                                                Are you sure you want to remove your current phone number?
                                                Before remove phone number, please check if 
                                                two-factor authentication (2FA) with SMS is not enabled.
                                                If you remove it, lose the ability to authenticate with 
                                                two-factor authentication 2FA via SMS, 
                                                also we will not be able to send SMS to your current phone number.
                                            </MudText>
                                            <MudLoadingButton
                                                FullWidth="true"
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnSendCodeAsync())">
                                                Continue
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            Validation="Validator.ValidateValue"
                                            @ref="form"
                                            Model="Model">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter code from the SMS we sent you to: 
                                                    <strong>@UserState.Credentials?.PhoneNumber</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="Model.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(Model.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received a SMS?
                                            <strong @onclick="async () => await ResendCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private CodeModel Model { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm form = new();

    private async Task ResendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.PhoneNumber,
            Type = CodeType.Remove,
            Sender = SenderType.Sms,
            Payload =
            {
                { "PhoneNumber", UserState.Credentials?.PhoneNumber! }
            }
        };

        var result = await SecurityService.SendCodeAsync(request);
        Snackbar.Add(result.Message, result.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnSendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.PhoneNumber,
            Type = CodeType.Remove,
            Sender = SenderType.Sms,
            Payload =
            {
                { "PhoneNumber", UserState.Credentials?.PhoneNumber! }
            }
        };

        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.PhoneNumber,
                Type = CodeType.Remove,
                Sender = SenderType.Sms,
                Code = Model.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new RemovePhoneNumberRequest()
        {
            UserId = UserState.UserId,
            PhoneNumber = UserState.Credentials?.PhoneNumber!
        };

        var result = await SecurityService.RemovePhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Phone number was successfully removed", Severity.Success);
            RouteManager.Route("/account/profile");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }
}