@page "/account/email/change"

@inherits PageBase

@using Size = MudBlazor.Size

@inject ChangeEmailValidator ChangeEmailValidator
@inject VerifyNewEmailValidator VerifyNewEmailValidator
@inject ConfirmChangeEmailValidator ConfirmChangeEmailValidator
@inject AuthenticationManager AuthenticationManager
@inject ISecurityService SecurityService

<Title Text="Change email"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top:150px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1">
                                    <MudPaper Outlined Class="pa-3" Justify="Justify.Center">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Email change
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="changeEmailForm"
                                            Model="ChangeEmailModel"
                                            Validation="ChangeEmailValidator.ValidateValue">
                                            <MudGrid Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Class="mb-1" Align="Align.Center">
                                                        To change email, you should enter new email address.
                                                        Please, enter new email address.
                                                    </MudText>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudTextField
                                                        @bind-Value="ChangeEmailModel.NewEmail"
                                                        For="() => ChangeEmailModel.NewEmail"
                                                        Label="New email"
                                                        Variant="Variant.Outlined"
                                                        Immediate="true"
                                                        Clearable="true"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnChangeEmailAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Confirmation">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code confirmation
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm 
                                            @ref="verifyNewEmailForm" 
                                            Model="VerifyNewEmailModel"
                                            Validation="VerifyNewEmailValidator.ValidateValue">
                                            <MudGrid Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Class="mb-2" Align="Align.Center">
                                                        Enter code from letter we sent to your current email address
                                                    </MudText>
                                                </MudItem>
                                                <MudItem xs="7">
                                                    <MudCodeInput
                                                        Count="6"
                                                        Margin="Margin.Normal" Spacing="1"
                                                        @bind-Value="VerifyNewEmailModel.Code"
                                                        Variant="Variant.Outlined"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnVerifyNewEmailAsync())">
                                                        Confirm
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received an email?
                                            <strong @onclick="async () => await ResendCurrentEmailCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">
                                            Loose access to your current email address?
                                            <MudLink OnClick="@(async () => await RouteManager.NavigateAsync("account/email/reset"))">
                                                Reset it
                                            </MudLink>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Email verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="confirmChangeEmailForm"
                                            Model="ConfirmChangeEmailModel"
                                            Validation="ConfirmChangeEmailValidator.ValidateValue">
                                            <MudGrid Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Class="mb-2" Align="Align.Center">
                                                        Enter code from letter we sent you
                                                        to: @ChangeEmailModel.NewEmail
                                                    </MudText>
                                                </MudItem>
                                                <MudItem xs="7">
                                                    <MudCodeInput
                                                        Count="6"
                                                        Margin="Margin.Normal" Spacing="1"
                                                        @bind-Value="ConfirmChangeEmailModel.Code"
                                                        Variant="Variant.Outlined"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnConfirmEmailChangeAsync())">
                                                        Verify
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received an email?
                                            <strong @onclick="async () => await ResendNewEmailCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Email changed" IsResultStep="true">
                    <ChildContent>
                        <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                            <MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large"
                                           Variant="Variant.Filled" Color="Color.Success"/>
                            <MudText Style="width: 55ch; margin: auto">
                                Your email address was successfully changed.
                                You will be redirected to login page to re-sign up with a new email address in 5
                                seconds.
                            </MudText>
                        </div>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ChangeEmailModel ChangeEmailModel { get; set; } = new();
    [SupplyParameterFromForm] private VerifyNewEmailModel VerifyNewEmailModel { get; set; } = new();
    [SupplyParameterFromForm] private ConfirmChangeEmailModel ConfirmChangeEmailModel { get; set; } = new();

    private MudStepperExtended stepper = new();

    private MudForm changeEmailForm = new();
    private MudForm verifyNewEmailForm = new();
    private MudForm confirmChangeEmailForm = new();

    private Guid userId;
    private bool completed = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await LocalStorage.GetAsync<Guid>("userId");
        }

        if (completed)
        {
            await OnCompleteAsync();
        }
    }

    private async Task ResendCurrentEmailCodeAsync()
    {
        var request = new ResendCodeRequest()
        {
            UserId = userId,
            CodeResource = CodeResource.Email,
            CodeType = CodeType.Current,
            Sender = SenderType.Email
        };

        var response = await SecurityService.ResendCodeAsync(request);

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

    private async Task ResendNewEmailCodeAsync()
    {
        var request = new ResendCodeRequest()
        {
            UserId = userId,
            CodeResource = CodeResource.Email,
            CodeType = CodeType.New,
            Sender = SenderType.Email
        };

        var response = await SecurityService.ResendCodeAsync(request);

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

    private async Task OnChangeEmailAsync()
    {
        await changeEmailForm.Validate();

        if (changeEmailForm.IsValid)
        {
            var request = new ChangeEmailRequest()
            {
                UserId = userId,
                NewEmail = ChangeEmailModel.NewEmail
            };

            var result = await SecurityService.ChangeEmailAsync(request);

            if (result.Success)
            {
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }
    
    private async Task OnVerifyNewEmailAsync()
    {
        await verifyNewEmailForm.Validate();

        if (verifyNewEmailForm.IsValid)
        {
            var request = new VerifyNewEmailRequest()
            {
                UserId = userId,
                NewEmail = ChangeEmailModel.NewEmail,
                Code = VerifyNewEmailModel.Code
            };

            var result = await SecurityService.VerifyNewEmailAsync(request);

            if (result.Success)
            {
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task OnConfirmEmailChangeAsync()
    {
        await confirmChangeEmailForm.Validate();

        if (confirmChangeEmailForm.IsValid)
        {
            var request = new ConfirmChangeEmailRequest()
            {
                Code = ConfirmChangeEmailModel.Code,
                NewEmail = ConfirmChangeEmailModel.NewEmail,
                UserId = userId
            };

            var result = await SecurityService.ConfirmChangeEmailAsync(request);

            if (result.Success)
            {
                var response = result.Get<ConfirmChangeEmailResponse>()!;
                await StepNextAsync();

                Snackbar.Add("Email address was successfully changed", Severity.Success);
                await AuthenticationManager.ReauthenticateAsync(response.AccessToken, response.RefreshToken);
                await RouteManager.NavigateAsync("/account/login");
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);

        if (stepper.IsAllStepsCompleted())
        {
            completed = true;
            StateHasChanged();
        }
    }

    private async Task OnCompleteAsync()
    {
        await Task.Delay(TimeSpan.FromMicroseconds(5));
        await RouteManager.NavigateAsync("account/login");
    }

}
