@page "/account/password/reset"

@using Size = MudBlazor.Size

@inherits PageBase

@inject ForgotPasswordValidator ForgotPasswordValidator
@inject ResetPasswordValidator ConfirmResetPasswordValidator
@inject VerifyCodeValidator VerifyCodeValidator
@inject ISecurityService SecurityService

<Title Text="Reset password"/>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="10" xl="8" Style="margin-top: 150px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Edit" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudPaper Style="margin-bottom: 10px" Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        Password reset
                                    </MudText>
                                </MudPaper>
                                <MudPaper Outlined Class="pa-3">
                                    <MudForm
                                        @ref="forgotPasswordForm"
                                        Model="ForgotPasswordModel"
                                        Validation="ForgotPasswordValidator.ValidateValue">
                                        <MudGrid Spacing="1" Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.body1"
                                                         Style="width: 55ch; margin: auto">
                                                    To reset your password, please enter your email address
                                                    you indicated during registration. We will the send letter with
                                                    6-digit code and instruction what to do the next steps
                                                </MudText>
                                                <br/>
                                                <MudTextField Label="Email" For="@(() => ForgotPasswordModel.Email)"
                                                              Variant="Variant.Outlined"
                                                              Immediate
                                                              @bind-Value="ForgotPasswordModel.Email"/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudLoadingButton Size="Size.Large" FullWidth Variant="Variant.Filled"
                                                                  Color="Color.Primary"
                                                                  ButtonType="ButtonType.Button"
                                                                  OnClick="@(async () => await OnForgotPasswordAsync())">
                                                    Send code
                                                </MudLoadingButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.ConfirmationNumber" Title="Confirmation">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudStack Spacing="1">
                                    <MudPaper Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        Confirm reset
                                    </MudText>
                                </MudPaper>
                                <MudPaper Outlined Class="pa-3">
                                    <MudForm
                                        @ref="verifyCodeForm"
                                        Model="VerifyCodeModel"
                                        Validation="VerifyCodeValidator.ValidateValue">
                                        <MudGrid Spacing="1" Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.body1"
                                                         Style="width: 55ch; margin: auto">
                                                    To confirm your password reset, please enter the 6-digit code from
                                                    letter we sent you to: <strong>@ForgotPasswordModel.Email</strong>
                                                </MudText>
                                            </MudItem>
                                            <MudItem xs="7">
                                                <MudCodeInput Count="6"
                                                              Margin="Margin.Normal"
                                                              Spacing="1"
                                                              @bind-Value="VerifyCodeModel.Code"
                                                              Variant="Variant.Outlined"/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudLoadingButton Size="Size.Large" FullWidth Variant="Variant.Filled"
                                                                  Color="Color.Primary"
                                                                  Disabled="@(VerifyCodeModel.Code.Length <= 5)"
                                                                  ButtonType="ButtonType.Button"
                                                                  OnClick="@(async () => await OnConfirmCodeAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                                <MudPaper Outlined Class="pa-3">
                                    <MudText Align="Align.Center">Didn't received an email?
                                        <strong @onclick="async () => await ResendCodeAsync()" class="cursor-pointer">Resend</strong>
                                    </MudText>
                                </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Save" Title="Reset">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudStack Spacing="1">
                                    <MudPaper Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        New password
                                    </MudText>
                                </MudPaper>
                                <MudPaper Outlined Class="pa-3">
                                    <MudForm
                                        @ref="resetPasswordForm"
                                        Model="PasswordResetModel"
                                        Validation="ConfirmResetPasswordValidator.ValidateValue">
                                        <MudGrid Spacing="1" Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.body1"
                                                         Style="width: 55ch; margin: auto">
                                                    To complete password reset, please enter new password and confirm it
                                                    in the field below
                                                </MudText>
                                                <br/>
                                                <MudPasswordField Label="New password"
                                                                  Immediate
                                                                  PasswordMode="true"
                                                                  IconSize="Size.Medium"
                                                                  For="@(() => PasswordResetModel.NewPassword)"
                                                                  Variant="Variant.Outlined"
                                                                  @bind-Value="PasswordResetModel.NewPassword"/>
                                                <MudPasswordField Label="Confirm new password"
                                                                  Immediate
                                                                  PasswordMode="true"
                                                                  IconSize="Size.Medium"
                                                                  For="@(() => PasswordResetModel.ConfirmNewPassword)"
                                                                  Variant="Variant.Outlined"
                                                                  @bind-Value="PasswordResetModel.ConfirmNewPassword"/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudLoadingButton Size="Size.Large" FullWidth Variant="Variant.Filled"
                                                                  Color="Color.Primary"
                                                                  ButtonType="ButtonType.Button"
                                                                  OnClick="@(async () => await OnResetPasswordSubmit())">
                                                    Reset
                                                    password
                                                </MudLoadingButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Result Step" IsResultStep="true">
                    <ChildContent>
                        <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                            <MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large"
                                           Variant="Variant.Filled" Color="Color.Success"/>
                            <MudText Style="width: 55ch; margin: auto" Align="Align.Center">
                                Your password was successfully reset. You will be automatically redirected to login page
                                in 5 seconds
                            </MudText>
                        </div>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ForgotPasswordModel ForgotPasswordModel { get; set; } = new();
    [SupplyParameterFromForm] private ConfirmPasswordResetModel PasswordResetModel { get; set; } = new();
    [SupplyParameterFromForm] private VerifyCodeModel VerifyCodeModel { get; set; } = new();

    private MudStepperExtended? stepper = new();
    private MudForm forgotPasswordForm = new();
    private MudForm resetPasswordForm = new();
    private MudForm verifyCodeForm = new();
    private Guid userId;
    private bool completed = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (completed)
        {
            await OnCompleteAsync();
        }
    }

    private async Task ResendCodeAsync()
    {
        var request = new ResendCodeRequest()
        {
            UserId = userId,
            CodeResource = CodeResource.Password,
            CodeType = CodeType.Reset,
            Sender = SenderType.Email
        };

        var response = await SecurityService.ResendCodeAsync(request);

        if (response.Success)
        {
            Snackbar.Add(response.Message, Severity.Success);
        }
        else
        {
            Snackbar.Add(response.Message, Severity.Error);
        }
    }

    private async Task OnForgotPasswordAsync()
    {
        await forgotPasswordForm.Validate();

        if (forgotPasswordForm.IsValid)
        {
            var request = new ForgotPasswordRequest() { Email = ForgotPasswordModel.Email };
            var result = await SecurityService.ForgotPasswordAsync(request);

            if (result.Success)
            {
                var response = result.Get<ForgotPasswordResponse>()!;
                userId = response.UserId;

                Snackbar.Add(result.Message, Severity.Success);
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task OnConfirmCodeAsync()
    {
        await verifyCodeForm.Validate();

        if (verifyCodeForm.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                Code = VerifyCodeModel.Code,
                Type = CodeType.Reset,
                Resource = CodeResource.Password,
                UserId = userId
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success)
            {
                Snackbar.Add(result.Message, Severity.Success);
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task OnResetPasswordSubmit()
    {
        await resetPasswordForm.Validate();

        if (resetPasswordForm.IsValid)
        {
            var request = new ResetPasswordRequest()
            {
                NewPassword = PasswordResetModel.NewPassword,
                ConfirmNewPassword = PasswordResetModel.ConfirmNewPassword,
                UserId = userId
            };

            var result = await SecurityService.ResetPasswordAsync(request);

            if (result.Success)
            {
                Snackbar.Add(result.Message, Severity.Success);
                await StepNextAsync();
            }

            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);

        if (stepper.IsAllStepsCompleted())
        {
            completed = true;
            StateHasChanged();
        }
    }

    private async Task OnCompleteAsync()
    {
        await Task.Delay(TimeSpan.FromMicroseconds(5));
        NavigationManager.NavigateTo("account/login");
    }

}
