@page "/account/email/reset"

@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject ResetEmailValidator ResetEmailValidator
@inject CodeModelValidator Validator

<Title Text="Reset email"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Email reset
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="resetEmailForm"
                                            Model="ResetEmailModel"
                                            Validation="ResetEmailValidator.ValidateValue">
                                            <MudGrid Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Class="mb-1" Align="Align.Center">
                                                        To reset your current email address, please enter new email address.
                                                        We will send you 6-digit reset code to new email address.
                                                    </MudText>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudTextField
                                                        @bind-Value="ResetEmailModel.NewEmail"
                                                        For="() => ResetEmailModel.NewEmail"
                                                        Label="New email"
                                                        Variant="Variant.Outlined"
                                                        Immediate="true"
                                                        Clearable="true"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Email verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="confirmResetEmailForm"
                                            Model="ConfirmResetEmailModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter code from the letter we sent you
                                                    to: <strong>@ResetEmailModel.NewEmail</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="ConfirmResetEmailModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(ConfirmResetEmailModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Verify
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received a SMS?
                                            <strong @onclick="async () => await ResendCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ResetEmailModel ResetEmailModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel ConfirmResetEmailModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm resetEmailForm = new();
    private MudForm confirmResetEmailForm = new();

    private async Task ResendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Email,
            Type = CodeType.Reset,
            Sender = SenderType.Email
        };

        var response = await SecurityService.SendCodeAsync(request);
        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnSendCodeAsync()
    {
        await resetEmailForm.Validate();

        if (resetEmailForm.IsValid)
        {
            var request = new CheckEmailRequest()
            {
                UserId = UserState.UserId,
                Email = ResetEmailModel.NewEmail
            };

            var result = await SecurityService.CheckEmailAsync(request);

            if (result.Success)
            {
                var response = result.Get<CheckEmailResponse>()!;

                if (!response.IsTaken) await SendCodeAsync();
                else Snackbar.Add("This email address is already taken", Severity.Error);
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Email,
            Type = CodeType.Reset,
            Sender = SenderType.Email
        };

        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await confirmResetEmailForm.Validate();

        if (confirmResetEmailForm.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.Email,
                Type = CodeType.Reset,
                Sender = SenderType.Email,
                Code = ConfirmResetEmailModel.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new ResetEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = ResetEmailModel.NewEmail,
        };

        var result = await SecurityService.ResetEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Email was successfully reset", Severity.Success);
            RouteManager.Route("/account/profile");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}