@page "/sign-up/verification"

@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification
@using eSecurity.Core.Common.Responses
@using eSystem.Core.Utilities.State

@inherits PageBase

@layout AuthenticationLayout

@inject VerifyEmailValidator Validator
@inject IVerificationService VerificationService
@inject ISecurityService SecurityService

<Title Text="Registration completion"></Title>

@if (_email is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="3" Style="margin-top: 50px">
            <MudPaper Elevation="4" Class="pa-10">
                <MudStack Spacing="3">
                    <MudStack AlignItems="AlignItems.Center">
                        <MudIcon Style="font-size: 5rem" Icon="@Icons.Material.Filled.Check"/>
                    </MudStack>
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                        Email verification
                    </MudTextM3>
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                        We have sent an email with code to email: <strong>@_email</strong>
                    </MudTextM3>
                    <MudForm
                        @ref="_form"
                        Model="_model"
                        Validation="Validator.ValidateValue">
                        <MudTextFieldExtended
                            @bind-Value="_model.Code"
                            Variant="Variant.Outlined"
                            Placeholder="XXXXXX"
                            Mask="_mask"
                            Clearable="true"
                            Immediate="true"/>
                    </MudForm>
                    <MudLoadingButton
                        Size="Size.Large"
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Disabled="@(_model.Code.Length <= 5)"
                        OnClick="@(async () => await OnVerifyEmailAsync())">
                        Verify
                    </MudLoadingButton>
                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                        Didn't received an email?
                        <MudLink Typo="Typo.body2" OnClick="@(async () => await OnResendAsync())">
                            Resend
                        </MudLink>
                    </MudTextM3>
                </MudStack>
            </MudPaper>
        </MudItem>
    </MudGrid>
}

@code {

    [SupplyParameterFromQuery(Name = "state")]
    private string? State { get; set; }

    private readonly VerifyEmailModel _model = new();

    private MudForm _form = new();
    private readonly PatternMask _mask = new("000000");

    private Guid _transactionId;
    private string? _email;
    private string? _state;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(State))
        {
            var stateData = StateParser.Parse(State);
            if (stateData.TryGetValue("transactionId", out var transactionId))
                _transactionId = Guid.Parse(transactionId);

            if (stateData.TryGetValue("email", out var email))
                _email = email;

            if (stateData.TryGetValue("state", out var state))
                _state = state;
        }
    }

    private async Task OnVerifyEmailAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = new CompleteSignUpRequest()
            {
                TransactionId = _transactionId,
                Code = _model.Code
            };

            var result = await SecurityService.CompleteSignUpAsync(request);
            if (result.Succeeded && result.TryGetValue<CompleteSignUpResponse>(out var response) && response is not null)
            {
                await AuthenticationManager.SignInAsync(response.SessionId);
                if (!string.IsNullOrEmpty(_state))
                {
                    var stateData = StateParser.Parse(_state);
                    if (stateData.TryGetValue("return_url", out var url))
                    {
                        NavigationManager.NavigateTo(url, true);
                        return;
                    }
                }
            
                NavigationManager.NavigateTo(AuthenticationManager.GetAuthorizationUri(), true);
            }
            else
            {
                var error = result.GetError();
                Snackbar.Add(error.Description, Severity.Error);
            }
        }
    }

    private async Task OnResendAsync()
    {
        var request = new ResendCodeRequest
        {
            UserId = _transactionId,
            Sender = SenderType.Email,
            Purpose = PurposeType.Email,
            Action = ActionType.Verify,
            Payload = new()
            {
                { "To", _email! }
            }
        };

        var result = await VerificationService.ResendCodeAsync(request);
        if (!result.Succeeded) Snackbar.Add(result.GetError().Description, Severity.Error);
    }

}

