@page "/account/email/add"

@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject CodeModelValidator Validator

@switch (Type)
{
    case EmailTypes.Primary: <Title Text="Add primary email"></Title> break;
    case EmailTypes.Recovery: <Title Text="Add recovery email"></Title> break;
    case EmailTypes.Secondary: <Title Text="Add secondary email"></Title> break;
}

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Add" Title="Add email">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        @switch (Type)
                                        {
                                            case EmailTypes.Primary:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Primary email add
                                                </MudText>
                                                break;
                                            }
                                            case EmailTypes.Recovery:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Recovery email add
                                                </MudText>
                                                break;
                                            }
                                            case EmailTypes.Secondary:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Secondary email add
                                                </MudText>
                                                break;
                                            }
                                        }
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudStack Spacing="3">
                                            @switch (Type)
                                            {
                                                case EmailTypes.Primary:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add a primary email, please enter an email.
                                                        We will send an email with 6-digit code to this email address.
                                                    </MudText>

                                                    break;
                                                }
                                                case EmailTypes.Recovery:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add a recovery email, please enter an email.
                                                        We will send an email with 6-digit code to this email address.
                                                    </MudText>

                                                    break;
                                                }
                                                case EmailTypes.Secondary:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add a secondary email, please enter an email.
                                                        We will send an email with 6-digit code to this email address.
                                                    </MudText>

                                                    break;
                                                }
                                            }
                                            <MudForm @ref="addEmailForm" Model="EmailModel">
                                                <MudTextField
                                                    Label="Email"
                                                    For="@(() => EmailModel.Email)"
                                                    Variant="Variant.Outlined"
                                                    Immediate
                                                    @bind-Value="EmailModel.Email"/>
                                            </MudForm>
                                            <MudLoadingButton
                                                Size="Size.Large" FullWidth
                                                Variant="Variant.Filled"
                                                Class="mt-2"
                                                Color="Color.Primary"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnAddAsync())">
                                                Send code
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="verifyCodeForm"
                                            Model="CodeModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="1">
                                                <MudText Align="Align.Center">
                                                    Enter the 6-digit code from the email we sent you to:
                                                    <strong>@EmailModel.Email</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="CodeModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    Size="Size.Large" FullWidth
                                                    Variant="Variant.Filled"
                                                    Class="mt-2"
                                                    Color="Color.Primary"
                                                    Disabled="@(CodeModel.Code.Length <= 5)"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="context"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = null!;

    [SupplyParameterFromForm] private AddEmailModel EmailModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel CodeModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm addEmailForm = new();
    private MudForm verifyCodeForm = new();
    private MessageContext? context;

    private async Task SendCodeAsync()
    {
        context = new MessageContext()
        {
            UserId = UserState.UserId,
            Sender = SenderType.Email,
            Resource = CodeResource.Email,
            Type = CodeType.Verify,
            Payload = new()
            {
                { "To", EmailModel.Email }
            }
        };
        
        var request = context!.ToSendCodeRequest();
        var response = await SecurityService.SendCodeAsync(request);

        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnAddAsync()
    {
        await addEmailForm.Validate();

        if (addEmailForm.IsValid)
        {
            var emailType = Type switch
            {
                EmailTypes.Primary => EmailType.Primary,
                EmailTypes.Recovery => EmailType.Recovery,
                EmailTypes.Secondary => EmailType.Secondary,
                _ => throw new NotSupportedException("Not supported email type")
            };

            var request = new AddEmailRequest()
            {
                UserId = UserState.UserId,
                Email = EmailModel.Email,
                Type = emailType
            };

            var result = await SecurityService.AddEmailAsync(request);

            if (result.Success)
            {
                await SendCodeAsync();
                await stepper.StepNextAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnVerifyAsync()
    {
        await verifyCodeForm.Validate();

        if (verifyCodeForm.IsValid)
        {
            var request = context!.ToVerifyCodeRequest(CodeModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyEmailRequest()
        {
            UserId = UserState.UserId,
            Email = EmailModel.Email,
        };

        var result = await SecurityService.VerifyEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo("/account/emails");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }
}