@page "/account/phone-number/add"
@using eShop.Blazor.Server.Application.Validation
@using eShop.Blazor.Server.Domain.Interfaces
@using eShop.Blazor.Server.Domain.Models
@using Size = MudBlazor.Size

@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject AddPhoneNumberValidator AddPhoneNumberValidator
@inject CodeModelValidator Validator

<Title Text="Add phone number"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Add" Title="Phone number">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number add
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="addPhoneNumberForm"
                                            Model="AddPhoneNumberModel"
                                            Validation="AddPhoneNumberValidator.ValidateValue">
                                            <MudGrid Spacing="1" Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Align="Align.Center" Typo="Typo.body1"
                                                             Style="width: 55ch; margin: auto">
                                                        To add phone number, please enter the phone number.
                                                        We will send SMS with 6-digit code to this phone number
                                                    </MudText>
                                                    <br/>
                                                    <MudTextField
                                                        Label="Phone number"
                                                        Class="mt-2"
                                                        For="@(() => AddPhoneNumberModel.PhoneNumber)"
                                                        Variant="Variant.Outlined"
                                                        Immediate
                                                        @bind-Value="AddPhoneNumberModel.PhoneNumber"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        Size="Size.Large" FullWidth
                                                        Variant="Variant.Filled"
                                                        Class="mt-2"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnAddAsync())">
                                                        Send code
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="verifyCodeForm"
                                            Model="VerifyPhoneNumberModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="1">
                                                <MudText Align="Align.Center" Typo="Typo.body1"
                                                         Style="width: 55ch; margin: auto">
                                                    To verify your phone number, please enter the 6-digit code from
                                                    the SMS we sent you to:
                                                    <strong>@AddPhoneNumberModel.PhoneNumber</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="VerifyPhoneNumberModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    Size="Size.Large" FullWidth
                                                    Variant="Variant.Filled"
                                                    Class="mt-2"
                                                    Color="Color.Primary"
                                                    Disabled="@(VerifyPhoneNumberModel.Code.Length <= 5)"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received a SMS?
                                            <strong @onclick="async () => await SendCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private AddPhoneNumberModel AddPhoneNumberModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel VerifyPhoneNumberModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm addPhoneNumberForm = new();
    private MudForm verifyCodeForm = new();

    private async Task SendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.PhoneNumber,
            Type = CodeType.Verify,
            Sender = SenderType.Sms,
            Payload =
            {
                { "PhoneNumber", AddPhoneNumberModel.PhoneNumber }
            }
        };

        var response = await SecurityService.SendCodeAsync(request);

        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnAddAsync()
    {
        await addPhoneNumberForm.Validate();

        if (addPhoneNumberForm.IsValid)
        {
            var request = new AddPhoneNumberRequest()
            {
                UserId = UserState.UserId,
                PhoneNumber = AddPhoneNumberModel.PhoneNumber,
                Type = PhoneNumberType.Primary
            };

            var result = await SecurityService.AddPhoneNumberAsync(request);

            if (result.Success)
            {
                await SendCodeAsync();
                await StepNextAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnVerifyAsync()
    {
        await verifyCodeForm.Validate();

        if (verifyCodeForm.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.PhoneNumber,
                Type = CodeType.Verify,
                Sender = SenderType.Sms,
                Code = VerifyPhoneNumberModel.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyPhoneNumberRequest()
        {
            UserId = UserState.UserId,
            PhoneNumber = AddPhoneNumberModel.PhoneNumber
        };

        var result = await SecurityService.VerifyPhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            RouteManager.Route("/account/phone-numbers");
            await StepNextAsync();
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}