@page "/account/phone-number/add"

@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject AddPhoneNumberValidator AddPhoneNumberValidator
@inject CodeModelValidator Validator

@switch (Type)
{
    case PhoneNumberTypes.Primary: <Title Text="Add primary phone number"></Title> break;
    case PhoneNumberTypes.Recovery: <Title Text="Add recovery phone number"></Title> break;
    case PhoneNumberTypes.Secondary: <Title Text="Add secondary phone number"></Title> break;
}

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Add" Title="Phone number">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number add
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudStack Spacing="3">
                                            @switch (Type)
                                            {
                                                case PhoneNumberTypes.Primary:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add primary phone number, you need to enter new phone number.
                                                        We will send SMS with 6-digit code to this phone number
                                                    </MudText>
                                                    
                                                    break;
                                                }
                                                case PhoneNumberTypes.Recovery:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add recovery phone number, you need to enter new phone number.
                                                        We will send SMS with 6-digit code to this phone number
                                                    </MudText>
                                                    
                                                    break;
                                                }
                                                case PhoneNumberTypes.Secondary:
                                                {
                                                    <MudText Align="Align.Center">
                                                        To add secondary phone number, you need to enter new phone number.
                                                        We will send SMS with 6-digit code to this phone number
                                                    </MudText>
                                                    
                                                    break;
                                                }
                                            }
                                            <MudForm
                                                @ref="addPhoneNumberForm"
                                                Model="AddPhoneNumberModel"
                                                Validation="AddPhoneNumberValidator.ValidateValue">
                                                <MudTextField
                                                    Label="Phone number"
                                                    Class="mt-2"
                                                    For="@(() => AddPhoneNumberModel.PhoneNumber)"
                                                    Variant="Variant.Outlined"
                                                    Immediate
                                                    @bind-Value="AddPhoneNumberModel.PhoneNumber"/>

                                            </MudForm>
                                            <MudLoadingButton
                                                Size="Size.Large" FullWidth
                                                Variant="Variant.Filled"
                                                Class="mt-2"
                                                Color="Color.Primary"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnAddAsync())">
                                                Send code
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        @switch (Type)
                                        {
                                            case PhoneNumberTypes.Primary:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Primary phone number verification
                                                </MudText>
                                                break;
                                            }
                                            case PhoneNumberTypes.Recovery:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Recovery phone number verification
                                                </MudText>
                                                break;
                                            }
                                            case PhoneNumberTypes.Secondary:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Secondary phone number verification
                                                </MudText>
                                                break;
                                            }
                                        }
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudForm
                                            @ref="verifyCodeForm"
                                            Model="VerifyPhoneNumberModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="1">
                                                <MudText Align="Align.Center">
                                                    To verify your phone number, please enter the 6-digit code from
                                                    the SMS we sent you to:
                                                    <strong>@AddPhoneNumberModel.PhoneNumber</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="VerifyPhoneNumberModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    Size="Size.Large" 
                                                    FullWidth
                                                    Variant="Variant.Filled"
                                                    Class="mt-2"
                                                    Color="Color.Primary"
                                                    Disabled="@(VerifyPhoneNumberModel.Code.Length <= 5)"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="context"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;
    
    [SupplyParameterFromForm] private AddPhoneNumberModel AddPhoneNumberModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel VerifyPhoneNumberModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm addPhoneNumberForm = new();
    private MudForm verifyCodeForm = new();
    private MessageContext? context;

    private async Task SendCodeAsync()
    {
        var request = context!.ToSendCodeRequest();
        var response = await SecurityService.SendCodeAsync(request);

        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnAddAsync()
    {
        await addPhoneNumberForm.Validate();

        if (addPhoneNumberForm.IsValid)
        {
            context = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Sms,
                Resource = CodeResource.PhoneNumber,
                Type = CodeType.Verify,
                Payload = new()
                {
                    { "To", AddPhoneNumberModel.PhoneNumber }
                }
            };

            var type = Type switch
            {
                PhoneNumberTypes.Primary => PhoneNumberType.Primary,
                PhoneNumberTypes.Recovery => PhoneNumberType.Recovery,
                PhoneNumberTypes.Secondary => PhoneNumberType.Secondary,
                _ => throw new NotImplementedException("Unsupported phone number type")
            };
            
            var request = new AddPhoneNumberRequest()
            {
                UserId = UserState.UserId,
                PhoneNumber = AddPhoneNumberModel.PhoneNumber,
                Type = type
            };

            var result = await SecurityService.AddPhoneNumberAsync(request);

            if (result.Success)
            {
                await SendCodeAsync();
                await StepNextAsync();
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnVerifyAsync()
    {
        await verifyCodeForm.Validate();

        if (verifyCodeForm.IsValid)
        {
            var request = context!.ToVerifyCodeRequest(VerifyPhoneNumberModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new VerifyPhoneNumberRequest()
        {
            UserId = UserState.UserId,
            PhoneNumber = AddPhoneNumberModel.PhoneNumber
        };

        var result = await SecurityService.VerifyPhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo("/account/phone-numbers");
            await StepNextAsync();
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}