@page "/account/email/change"
@inherits PageBase

@attribute [Authorize]

@inject ChangeEmailValidator ChangeEmailValidator
@inject CodeModelValidator Validator
@inject ISecurityService SecurityService
@inject IVerificationService VerificationService

@switch (Type)
{
    case EmailTypes.Primary: <Title Text="Primary email change"></Title> break;
    case EmailTypes.Recovery: <Title Text="Recovery email change"></Title> break;
}

<AccessConfirmation Context="confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1">
                                            <MudPaper Outlined Class="pa-3">
                                                @switch (Type)
                                                {
                                                    case EmailTypes.Primary:
                                                    {
                                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                                            Primary email change
                                                        </MudText>

                                                        break;
                                                    }
                                                    case EmailTypes.Recovery:
                                                    {
                                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                                            Recovery email change
                                                        </MudText>

                                                        break;
                                                    }
                                                }
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudStack Spacing="3">
                                                    @switch (Type)
                                                    {
                                                        case EmailTypes.Primary:
                                                        {
                                                            <MudText Class="mb-1" Align="Align.Center">
                                                                To change your current primary email address,
                                                                you need to enter new email address,
                                                                then we will send emails with verification code to your
                                                                current and new primary email addresses.
                                                            </MudText>

                                                            break;
                                                        }
                                                        case EmailTypes.Recovery:
                                                        {
                                                            <MudText Class="mb-1" Align="Align.Center">
                                                                To change your current recovery email address,
                                                                you need to enter new email address,
                                                                then we will send emails with verification code to your
                                                                current and new recovery email addresses.
                                                            </MudText>

                                                            break;
                                                        }
                                                    }
                                                    <MudForm
                                                        @ref="changeForm"
                                                        Model="Change"
                                                        Validation="ChangeEmailValidator.ValidateValue">
                                                        <MudTextField
                                                            @bind-Value="Change.NewEmail"
                                                            For="() => Change.NewEmail"
                                                            Label="New email"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendNewCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Email verification
                                                </MudText>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-5">
                                                <MudForm
                                                    @ref="confirmForm"
                                                    Model="ConfirmModel"
                                                    Validation="Validator.ValidateValue">
                                                    <MudStack Spacing="2">
                                                        <MudText Class="mb-2" Align="Align.Center">
                                                            Enter 6-digit code from letter we sent you
                                                            to: @Change.NewEmail
                                                        </MudText>

                                                        <MudCodeInput
                                                            Count="6"
                                                            Margin="Margin.Normal"
                                                            Spacing="2"
                                                            Class="d-flex align-items-center"
                                                            @bind-Value="ConfirmModel.Code"
                                                            Variant="Variant.Outlined"/>

                                                        <MudLoadingButton
                                                            FullWidth="true"
                                                            Variant="Variant.Filled"
                                                            Color="Color.Primary"
                                                            ButtonType="ButtonType.Button"
                                                            Disabled="@(ConfirmModel.Code.Length <= 5)"
                                                            OnClick="@(async () => await OnChangeAsync())">
                                                            Verify
                                                        </MudLoadingButton>
                                                    </MudStack>
                                                </MudForm>
                                            </MudPaper>
                                            <CodeResend Context="messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;

    [SupplyParameterFromForm] 
    private ChangeEmailModel Change { get; set; } = new();
    
    [SupplyParameterFromForm] 
    private CodeModel ConfirmModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm changeForm = new();
    private MudForm confirmForm = new();
    private MessageContext messageContext = new();
    private ConfirmationContext? confirmationContext;

    protected override void OnInitialized()
    {
        confirmationContext = new ConfirmationContext()
        {
            Purpose = PurposeType.Email,
            Action = ActionType.Change
        };
    }

    private async Task OnSendNewCodeAsync()
    {
        await changeForm.Validate();

        if (changeForm.IsValid)
        {
            messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Purpose = PurposeType.Email,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", Change.NewEmail }
                }
            };

            var request = messageContext!.ToSendCodeRequest();
            var result = await VerificationService.SendCodeAsync(request);
            if (result.Success) await stepper.StepNextAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task ChangeAsync()
    {
        var type = Type switch
        {
            EmailTypes.Primary => EmailType.Primary,
            EmailTypes.Recovery => EmailType.Recovery,
            _ => throw new NotSupportedException("Unsupported email type")
        };

        var request = new ChangeEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = Change.NewEmail,
            Type = type,
        };

        var result = await SecurityService.ChangeEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Email address was successfully changed", Severity.Success);
            NavigationManager.NavigateTo("/account/emails");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangeAsync()
    {
        await confirmForm.Validate();

        if (confirmForm.IsValid)
        {
            var request = messageContext!.ToVerifyCodeRequest(ConfirmModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await ChangeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

}
