@page "/account/phone-number/change"
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject ChangePhoneNumberValidator ChangePhoneNumberValidator
@inject CodeModelValidator Validator

<Title Text="Change phone number"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3 mb-1">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number change
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="changePhoneNumberForm"
                                            Validation="ChangePhoneNumberValidator.ValidateValue"
                                            Model="ChangePhoneNumberModel">
                                            <MudGrid Justify="Justify.Center">
                                                <MudItem xs="12">
                                                    <MudText Class="mb-1" Align="Align.Center">
                                                        To change phone number, you should enter new phone number.
                                                        Please, enter new phone number.
                                                    </MudText>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudTextField
                                                        @bind-Value="ChangePhoneNumberModel.NewPhoneNumber"
                                                        For="() => ChangePhoneNumberModel.NewPhoneNumber"
                                                        Label="New phone number"
                                                        Variant="Variant.Outlined"
                                                        Immediate="true"
                                                        Clearable="true"/>
                                                </MudItem>
                                                <MudItem xs="12">
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendCurrentCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                </MudItem>
                                            </MudGrid>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Confirmation">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code confirmation
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="verifyNewPhoneNumberForm"
                                            Validation="Validator.ValidateValue"
                                            Model="ConfirmChangePhoneNumberModel">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter code from SMS we sent to your current phone number
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="VerifyCurrentPhoneNumberModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(VerifyCurrentPhoneNumberModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnSendNewCodeAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="currentPhoneNumberContext"></CodeResend>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">
                                            Loose access to your current phone number?
                                            <MudLink Href="account/phone-number/reset">
                                                Reset it
                                            </MudLink>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Phone number verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="confirmChangePhoneNumberForm"
                                            Model="ConfirmChangePhoneNumberModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter code from SMS we sent you
                                                    to: @ChangePhoneNumberModel.NewPhoneNumber
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="ConfirmChangePhoneNumberModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(ConfirmChangePhoneNumberModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnChangeAsync())">
                                                    Verify
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="newPhoneNumberContext"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ChangePhoneNumberModel ChangePhoneNumberModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel VerifyCurrentPhoneNumberModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel ConfirmChangePhoneNumberModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm changePhoneNumberForm = new();
    private MudForm verifyNewPhoneNumberForm = new();
    private MudForm confirmChangePhoneNumberForm = new();
    private MessageContext currentPhoneNumberContext = new();
    private MessageContext newPhoneNumberContext = new();

    private async Task OnSendCurrentCodeAsync()
    {
        await changePhoneNumberForm.Validate();

        if (changePhoneNumberForm.IsValid)
        {
            var request = new CheckPhoneNumberRequest()
            {
                UserId = UserState.UserId,
                PhoneNumber = ChangePhoneNumberModel.NewPhoneNumber
            };

            var result = await SecurityService.CheckPhoneNumberAsync(request);

            if (result.Success)
            {
                var response = result.Get<CheckPhoneNumberResponse>()!;

                if (!response.IsTaken) await SendCurrentCodeAsync();
                else switch (response)
                {
                    case { IsTaken: true, IsOwn: true }:
                    {
                        const string message = "This phone number is already user's";
                        Snackbar.Add(message, Severity.Info);
                        break;
                    }
                    case { IsTaken: true, IsOwn: false }:
                    {
                        const string message = "This phone number is already taken";
                        Snackbar.Add(message, Severity.Info);
                        break;
                    }
                }
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }
    
    private async Task SendCurrentCodeAsync()
    {
        currentPhoneNumberContext = new MessageContext()
        {
            UserId = UserState.UserId,
            Sender = SenderType.Sms,
            Resource = CodeResource.PhoneNumber,
            Type = CodeType.Current,
            Payload = new()
            {
                { "To", UserState.Credentials?.PrimaryPhoneNumber! }
            }
        };
        
        var request = currentPhoneNumberContext!.ToSendCodeRequest();
        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnSendNewCodeAsync()
    {
        await verifyNewPhoneNumberForm.Validate();

        if (verifyNewPhoneNumberForm.IsValid)
        {
            var request = currentPhoneNumberContext!.ToVerifyCodeRequest(VerifyCurrentPhoneNumberModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await SendNewCodeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }
    
    private async Task SendNewCodeAsync()
    {
        newPhoneNumberContext = new MessageContext()
        {
            UserId = UserState.UserId,
            Sender = SenderType.Sms,
            Resource = CodeResource.PhoneNumber,
            Type = CodeType.New,
            Payload = new()
            {
                { "To", ChangePhoneNumberModel.NewPhoneNumber }
            }
        };
        
        var request = newPhoneNumberContext!.ToSendCodeRequest();
        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnChangeAsync()
    {
        await confirmChangePhoneNumberForm.Validate();

        if (confirmChangePhoneNumberForm.IsValid)
        {
            var request = newPhoneNumberContext!.ToVerifyCodeRequest(ConfirmChangePhoneNumberModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await ChangeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task ChangeAsync()
    {
        var request = new ChangePhoneNumberRequest()
        {
            UserId = UserState.UserId,
            Type = PhoneNumberType.Primary,
            NewPhoneNumber = ChangePhoneNumberModel.NewPhoneNumber,
        };

        var result = await SecurityService.ChangePhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Phone number was successfully changed", Severity.Success);
            NavigationManager.NavigateTo("/account/phone-numbers");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}