@page "/account/email/change"
@inherits PageBase

@attribute [Authorize]

@inject ChangeEmailValidator ChangeEmailValidator
@inject CodeModelValidator Validator
@inject ISecurityService SecurityService

@switch (Type)
{
    case EmailTypes.Primary: <Title Text="Primary email change"></Title> break;
    case EmailTypes.Recovery: <Title Text="Recovery email change"></Title> break;
}

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1">
                                    <MudPaper Outlined Class="pa-3">
                                        @switch (Type)
                                        {
                                            case EmailTypes.Primary:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Primary email change
                                                </MudText>

                                                break;
                                            }
                                            case EmailTypes.Recovery:
                                            {
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Recovery email change
                                                </MudText>

                                                break;
                                            }
                                        }
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudStack Spacing="3">
                                            @switch (Type)
                                            {
                                                case EmailTypes.Primary:
                                                {
                                                    <MudText Class="mb-1" Align="Align.Center">
                                                        To change your current primary email address,
                                                        you need to enter new email address,
                                                        then we will send emails with verification code to your
                                                        current and new primary email addresses.
                                                    </MudText>

                                                    break;
                                                }
                                                case EmailTypes.Recovery:
                                                {
                                                    <MudText Class="mb-1" Align="Align.Center">
                                                        To change your current recovery email address,
                                                        you need to enter new email address,
                                                        then we will send emails with verification code to your
                                                        current and new recovery email addresses.
                                                    </MudText>

                                                    break;
                                                }
                                            }
                                            <MudForm
                                                @ref="changeEmailForm"
                                                Model="ChangeEmailModel"
                                                Validation="ChangeEmailValidator.ValidateValue">
                                                <MudTextField
                                                    @bind-Value="ChangeEmailModel.NewEmail"
                                                    For="() => ChangeEmailModel.NewEmail"
                                                    Label="New email"
                                                    Variant="Variant.Outlined"
                                                    Immediate="true"
                                                    Clearable="true"/>
                                            </MudForm>
                                            <MudLoadingButton
                                                FullWidth="true"
                                                Variant="Variant.Filled"
                                                Color="Color.Primary"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnSendCurrentCodeAsync())">
                                                Change
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Confirmation">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code confirmation
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="verifyNewEmailForm"
                                            Model="VerifyCurrentEmailModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="2">
                                                @switch (Type)
                                                {
                                                    case EmailTypes.Primary:
                                                    {
                                                        <MudText Class="mb-2" Align="Align.Center">
                                                            Enter code from letter we sent to:
                                                            <strong>@UserState.Credentials?.PrimaryEmail!</strong>
                                                        </MudText>

                                                        break;
                                                    }
                                                    case EmailTypes.Recovery:
                                                    {
                                                        <MudText Class="mb-2" Align="Align.Center">
                                                            Enter code from letter we sent to:
                                                            <strong>@UserState.Credentials?.RecoveryEmail!</strong>
                                                        </MudText>

                                                        break;
                                                    }
                                                }

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="VerifyCurrentEmailModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(VerifyCurrentEmailModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnSendNewCodeAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="currentEmailContext"></CodeResend>
                                    @if (Type == EmailTypes.Primary)
                                    {
                                        <MudPaper Outlined Class="pa-3">
                                            <MudText Align="Align.Center">
                                                Lost access to your current primary email address?
                                                <MudLink Href="account/email/reset">
                                                    Reset it
                                                </MudLink>
                                            </MudText>
                                        </MudPaper>
                                    }
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Email verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudForm
                                            @ref="confirmChangeEmailForm"
                                            Model="ConfirmChangeEmailModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter 6-digit code from letter we sent you
                                                    to: @ChangeEmailModel.NewEmail
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="ConfirmChangeEmailModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(ConfirmChangeEmailModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnChangeAsync())">
                                                    Verify
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="newEmailContext"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;

    [SupplyParameterFromForm] private ChangeEmailModel ChangeEmailModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel VerifyCurrentEmailModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel ConfirmChangeEmailModel { get; set; } = new();

    private MudStepperExtended stepper = new();

    private MudForm changeEmailForm = new();
    private MudForm verifyNewEmailForm = new();
    private MudForm confirmChangeEmailForm = new();
    private MessageContext currentEmailContext = new();
    private MessageContext newEmailContext = new();

    private async Task OnSendCurrentCodeAsync()
    {
        await changeEmailForm.Validate();

        if (changeEmailForm.IsValid)
        {
            var to = Type switch
            {
                EmailTypes.Primary => UserState.Credentials?.PrimaryEmail!,
                EmailTypes.Recovery => UserState.Credentials?.RecoveryEmail!,
                _ => throw new NotSupportedException("Unsupported email type")
            };
            
            currentEmailContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Resource = CodeResource.Email,
                Type = CodeType.Current,
                Payload = new()
                {
                    { "NewEmail", ChangeEmailModel.NewEmail },
                    { "To", to },
                }
            };

            var request = new CheckEmailRequest()
            {
                UserId = UserState.UserId,
                Email = ChangeEmailModel.NewEmail
            };

            var result = await SecurityService.CheckEmailAsync(request);

            if (result.Success)
            {
                var response = result.Get<CheckEmailResponse>()!;

                if (!response.IsTaken) await SendCurrentEmailCodeAsync();
                else
                    switch (response)
                    {
                        case { IsTaken: true, IsOwn: false }:
                        {
                            const string message = "This email address is already taken";
                            Snackbar.Add(message, Severity.Error);
                            break;
                        }
                        case { IsTaken: true, IsOwn: true }:
                        {
                            const string message = "This email address is already user's";
                            Snackbar.Add(message, Severity.Info);
                            break;
                        }
                        case { HasLinkedAccount: true }:
                        {
                            const string message = "First disconnect linked account.";
                            Snackbar.Add(message, Severity.Info);
                            break;
                        }
                    }
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCurrentEmailCodeAsync()
    {
        var request = currentEmailContext!.ToSendCodeRequest();
        var result = await SecurityService.SendCodeAsync(request);
        if (result.Success) await stepper.StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnSendNewCodeAsync()
    {
        await verifyNewEmailForm.Validate();

        if (verifyNewEmailForm.IsValid)
        {
            newEmailContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Resource = CodeResource.Email,
                Type = CodeType.New,
                Payload = new()
                {
                    { "To", ChangeEmailModel.NewEmail }
                }
            };

            var request = currentEmailContext!.ToVerifyCodeRequest(VerifyCurrentEmailModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await SendNewEmailCodeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendNewEmailCodeAsync()
    {
        var request = newEmailContext!.ToSendCodeRequest();
        var result = await SecurityService.SendCodeAsync(request);
        if (result.Success) await stepper.StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task ChangeAsync()
    {
        var type = Type switch
        {
            EmailTypes.Primary => EmailType.Primary,
            EmailTypes.Recovery => EmailType.Recovery,
            _ => throw new NotSupportedException("Unsupported email type")
        };
        
        var request = new ChangeEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = ChangeEmailModel.NewEmail,
            Type = type,
        };

        var result = await SecurityService.ChangeEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Email address was successfully changed", Severity.Success);
            NavigationManager.NavigateTo("/account/emails");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangeAsync()
    {
        await confirmChangeEmailForm.Validate();

        if (confirmChangeEmailForm.IsValid)
        {
            var request = newEmailContext!.ToVerifyCodeRequest(ConfirmChangeEmailModel.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await ChangeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }
}
