@page "/account/2fa/provider/disable"
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IProviderService ProviderService

<Title Text="Passkey remove"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Info" Title="Information">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Passkey remove
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-5">
                                        <MudStack Spacing="4">
                                            @if (Provider == ProviderTypes.Email)
                                            {
                                                <MudText Align="Align.Center">
                                                    Are you sure you want to disable 2FA
                                                    (Two-Factor Authentication) with Email?
                                                    You will not be able to sign-in with this provider.
                                                    To disable 2FA with Email you will need
                                                    to enter 6-digit code from an email we
                                                    will send to: <strong>@UserState.Credentials?.PrimaryEmail</strong>
                                                </MudText>
                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnSendCodeAsync(SenderType.Email))">
                                                    Continue
                                                </MudLoadingButton>
                                            }
                                            else if (Provider == ProviderTypes.Sms)
                                            {
                                                <MudText Align="Align.Center">
                                                    Are you sure you want to disable 2FA
                                                    (Two-Factor Authentication) with SMS?
                                                    You will not be able to sign-in with this provider.
                                                    To disable 2FA with SMS you will need
                                                    to enter 6-digit code from a SMS we
                                                    will send to:
                                                    <strong>@UserState.Credentials?.PrimaryPhoneNumber</strong>
                                                </MudText>
                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnSendCodeAsync(SenderType.Sms))">
                                                    Continue
                                                </MudLoadingButton>
                                            }
                                            else if (Provider == ProviderTypes.Authenticator)
                                            {
                                                <MudText Align="Align.Center">
                                                    Are you sure you want to disable 2FA
                                                    (Two-Factor Authentication) with Email?
                                                    You will not be able to sign-in with this provider.
                                                    To disable 2FA with Email you will need
                                                    to enter 6-digit code from your Authenticator App
                                                    (like Google Authenticator, Microsoft Authenticator, etc.)
                                                </MudText>
                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnSendCodeAsync(SenderType.AuthenticatorApp))">
                                                    Continue
                                                </MudLoadingButton>
                                            }
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Code verification
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="form"
                                            Model="Model">
                                            <MudStack Spacing="2">
                                                @if (Provider == ProviderTypes.Authenticator)
                                                {
                                                    <MudText Class="mb-2" Align="Align.Center">
                                                        Enter code from your Authenticator App
                                                        (like Google Authenticator, Microsoft Authenticator, etc.)
                                                    </MudText>
                                                }
                                                else
                                                {
                                                    <MudText Class="mb-2" Align="Align.Center">
                                                        Enter code from the email we sent you to:
                                                        <strong>@UserState.Credentials?.PrimaryEmail</strong>
                                                    </MudText>
                                                }

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="Model.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(Model.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Confirm
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                    <CodeResend Context="context"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "provider")]
    public string Provider { get; set; } = string.Empty;

    [SupplyParameterFromForm] private CodeModel Model { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm form = new();
    private MessageContext context = new();

    private async Task OnSendCodeAsync(SenderType sender)
    {
        context = new MessageContext()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Provider,
            Type = CodeType.Unsubscribe,
            Sender = sender,
            Payload = new Dictionary<string, string>()
            {
                { "Provider", Provider },
                {
                    "To", sender switch
                    {
                        SenderType.Email => UserState.Credentials?.PrimaryEmail!,
                        SenderType.Sms => UserState.Credentials?.PrimaryPhoneNumber!,
                        SenderType.AuthenticatorApp => string.Empty,
                        _ => throw new NotSupportedException("Not supported provider")
                    }
                }
            }
        };
        
        var request = context!.ToSendCodeRequest();
        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await stepper.StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = context!.ToVerifyCodeRequest(Model.Code);
            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new UnsubscribeProviderRequest()
        {
            UserId = UserState.UserId,
            Provider = Provider
        };

        var result = await ProviderService.UnsubscribeAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Passkey was successfully removed", Severity.Success);
            NavigationManager.NavigateTo("/account/security");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
}