@page "/account/password/reset"
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject ResetPasswordValidator ResetEmailValidator
@inject CodeModelValidator Validator

<Title Text="Password reset"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Password reset
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudStack Spacing="3">
                                            <MudText Align="Align.Center">
                                                To reset your current password, you will need to enter 6-digit
                                                code from an email we will send you to:
                                                <strong>@UserState.Credentials?.PrimaryEmail</strong>
                                            </MudText>
                                            <MudButton
                                                Variant="Variant.Filled"
                                                Color="Color.Primary"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnSendCodeAsync())">
                                                Continue
                                            </MudButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Password reset
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="confirmResetPasswordForm"
                                            Model="ConfirmResetPasswordModel"
                                            Validation="Validator.ValidateValue">
                                            <MudStack Spacing="2">
                                                <MudText Class="mb-2" Align="Align.Center">
                                                    Enter code from the letter we sent you
                                                    to: <strong>@UserState.Credentials?.PrimaryEmail</strong>
                                                </MudText>

                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal"
                                                    Spacing="2"
                                                    Class="d-flex align-items-center"
                                                    @bind-Value="ConfirmResetPasswordModel.Code"
                                                    Variant="Variant.Outlined"/>

                                                <MudLoadingButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    Disabled="@(ConfirmResetPasswordModel.Code.Length <= 5)"
                                                    OnClick="@(async () => await OnVerifyAsync())">
                                                    Verify
                                                </MudLoadingButton>
                                            </MudStack>
                                        </MudForm>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Check" Title="New password">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            New password
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudForm
                                            @ref="resetPasswordForm"
                                            Model="ResetPasswordModel"
                                            Validation="ResetEmailValidator.ValidateValue">
                                            <MudPasswordField
                                                @bind-Value="ResetPasswordModel.NewPassword"
                                                For="() => ResetPasswordModel.NewPassword"
                                                Label="New password"
                                                Variant="Variant.Outlined"
                                                Immediate="true"
                                                Clearable="true"/>
                                            <MudPasswordField
                                                @bind-Value="ResetPasswordModel.ConfirmNewPassword"
                                                For="() => ResetPasswordModel.ConfirmNewPassword"
                                                Label="Confirm new password"
                                                Variant="Variant.Outlined"
                                                Immediate="true"
                                                Clearable="true"/>
                                            <MudLoadingButton
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnResetAsync())">
                                                Submit
                                            </MudLoadingButton>
                                        </MudForm>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudText Align="Align.Center">Didn't received a SMS?
                                            <strong @onclick="async () => await ResendCodeAsync()"
                                                    class="cursor-pointer">Resend</strong>
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ResetPasswordModel ResetPasswordModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel ConfirmResetPasswordModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm resetPasswordForm = new();
    private MudForm confirmResetPasswordForm = new();

    private async Task ResendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Password,
            Type = CodeType.Reset,
            Sender = SenderType.Email,
            Payload =
            {
                { "To", UserState.Credentials?.PrimaryEmail! }
            }
        };

        var response = await SecurityService.SendCodeAsync(request);
        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

    private async Task OnSendCodeAsync()
    {
        var request = new CheckPasswordRequest() { UserId = UserState.UserId };
        var result = await SecurityService.CheckPasswordAsync(request);

        if (result.Success)
        {
            var response = result.Get<CheckPasswordResponse>()!;

            if (response.HasPassword) await SendCodeAsync();
            else Snackbar.Add("Password is not provided. Cannot reset password.", Severity.Error);
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task SendCodeAsync()
    {
        var request = new SendCodeRequest()
        {
            UserId = UserState.UserId,
            Resource = CodeResource.Password,
            Type = CodeType.Reset,
            Sender = SenderType.Email,
            Payload =
            {
                { "To", UserState.Credentials?.PrimaryEmail! }
            }
        };

        var result = await SecurityService.SendCodeAsync(request);

        if (result.Success) await StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await confirmResetPasswordForm.Validate();

        if (confirmResetPasswordForm.IsValid)
        {
            var request = new VerifyCodeRequest()
            {
                UserId = UserState.UserId,
                Resource = CodeResource.Password,
                Type = CodeType.Reset,
                Sender = SenderType.Email,
                Code = ConfirmResetPasswordModel.Code
            };

            var result = await SecurityService.VerifyCodeAsync(request);

            if (result.Success) await StepNextAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnResetAsync()
    {
        await resetPasswordForm.Validate();

        if (resetPasswordForm.IsValid)
        {
            var request = new ResetPasswordRequest()
            {
                UserId = UserState.UserId,
                NewPassword = ResetPasswordModel.NewPassword
            };

            var result = await SecurityService.ResetPasswordAsync(request);

            if (result.Success)
            {
                Snackbar.Add("Password was successfully reset", Severity.Success);
                RouteManager.Route("/account/security");
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}