@page "/account/email/reset"
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IVerificationService VerificationService
@inject ResetEmailValidator ResetEmailValidator
@inject CodeModelValidator Validator

<Title Text="Reset email"></Title>

<AccessConfirmation Context="confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Email reset
                                                </MudText>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudForm
                                                    @ref="resetForm"
                                                    Model="ResetModel"
                                                    Validation="ResetEmailValidator.ValidateValue">
                                                    <MudGrid Justify="Justify.Center">
                                                        <MudItem xs="12">
                                                            <MudText Class="mb-1" Align="Align.Center">
                                                                To reset your current email address, please enter new
                                                                email address.
                                                                We will send you 6-digit reset code to new email
                                                                address.
                                                            </MudText>
                                                        </MudItem>
                                                        <MudItem xs="12">
                                                            <MudTextField
                                                                @bind-Value="ResetModel.NewEmail"
                                                                For="() => ResetModel.NewEmail"
                                                                Label="New email"
                                                                Variant="Variant.Outlined"
                                                                Immediate="true"
                                                                Clearable="true"/>
                                                        </MudItem>
                                                        <MudItem xs="12">
                                                            <MudLoadingButton
                                                                FullWidth="true"
                                                                Variant="Variant.Filled"
                                                                Color="Color.Primary"
                                                                ButtonType="ButtonType.Button"
                                                                OnClick="@(async () => await OnSendCodeAsync())">
                                                                Change
                                                            </MudLoadingButton>
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudForm>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Email verification
                                                </MudText>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudForm
                                                    @ref="confirmForm"
                                                    Model="ConfirmModel"
                                                    Validation="Validator.ValidateValue">
                                                    <MudStack Spacing="2">
                                                        <MudText Class="mb-2" Align="Align.Center">
                                                            Enter code from the letter we sent you
                                                            to: <strong>@ResetModel.NewEmail</strong>
                                                        </MudText>

                                                        <MudCodeInput
                                                            Count="6"
                                                            Margin="Margin.Normal"
                                                            Spacing="2"
                                                            Class="d-flex align-items-center"
                                                            @bind-Value="ConfirmModel.Code"
                                                            Variant="Variant.Outlined"/>

                                                        <MudLoadingButton
                                                            FullWidth="true"
                                                            Variant="Variant.Filled"
                                                            Color="Color.Primary"
                                                            ButtonType="ButtonType.Button"
                                                            Disabled="@(ConfirmModel.Code.Length <= 5)"
                                                            OnClick="@(async () => await OnVerifyAsync())">
                                                            Verify
                                                        </MudLoadingButton>
                                                    </MudStack>
                                                </MudForm>
                                            </MudPaper>
                                            <CodeResend Context="messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {
    [SupplyParameterFromForm] private ResetEmailModel ResetModel { get; set; } = new();
    [SupplyParameterFromForm] private CodeModel ConfirmModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm resetForm = new();
    private MudForm confirmForm = new();
    private MessageContext? messageContext;
    private ConfirmationContext? confirmationContext;

    protected override void OnInitialized()
    {
        confirmationContext = new ConfirmationContext()
        {
            Action = ActionType.Reset,
            Purpose = PurposeType.Email
        };
    }

    private async Task OnSendCodeAsync()
    {
        await resetForm.Validate();

        if (resetForm.IsValid)
        {
            messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Purpose = PurposeType.Email,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", ResetModel.NewEmail }
                }
            };

            var request = new CheckEmailRequest()
            {
                UserId = UserState.UserId,
                Email = ResetModel.NewEmail
            };

            var result = await SecurityService.CheckEmailAsync(request);

            if (result.Success) await SendCodeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        var request = messageContext!.ToSendCodeRequest();
        var result = await VerificationService.SendCodeAsync(request);

        if (result.Success) await stepper.StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await confirmForm.Validate();

        if (confirmForm.IsValid)
        {
            var request = messageContext!.ToVerifyCodeRequest(ConfirmModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new ResetEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = ResetModel.NewEmail,
        };

        var result = await SecurityService.ResetEmailAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Email was successfully reset", Severity.Success);
            NavigationManager.NavigateTo("/account/emails");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

}