@page "/account/phone-number/verify"
@using eShop.Domain.Requests.Auth
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IVerificationService VerificationService
@inject CodeModelValidator Validator

@switch (Type)
{
    case PhoneNumberTypes.Primary: <Title Text="Primary phone number verification"></Title> break;
    case PhoneNumberTypes.Recovery: <Title Text="Recovery phone number verification"></Title> break;
    case PhoneNumberTypes.Secondary: <Title Text="Secondary phone number verification"></Title> break;
}

<MudGrid Justify="Justify.Center" Spacing="1">
    <MudItem xs="4" Style="margin-top: 100px">
        <MudStack Spacing="1" Justify="Justify.Center">
            <MudPaper Outlined Class="pa-3">
                @switch (Type)
                {
                    case PhoneNumberTypes.Primary:
                    {
                        <MudText Align="Align.Center" Typo="Typo.h4">
                            Primary phone number verification
                        </MudText>
                        break;
                    }
                    case PhoneNumberTypes.Recovery:
                    {
                        <MudText Align="Align.Center" Typo="Typo.h4">
                            Recovery phone number verification
                        </MudText>
                        break;
                    }
                    case PhoneNumberTypes.Secondary:
                    {
                        <MudText Align="Align.Center" Typo="Typo.h4">
                            Secondary phone number verification
                        </MudText>
                        break;
                    }
                }
            </MudPaper>
            <MudPaper Outlined Class="pa-3">
                <MudStack Spacing="3" Justify="Justify.Center">
                    @switch (Type)
                    {
                        case PhoneNumberTypes.Primary:
                        {
                            <MudText Align="Align.Center">
                                We have sent a SMS with code to:
                                <strong>@UserState.Credentials?.PrimaryPhoneNumber</strong>
                            </MudText>
                            break;
                        }
                        case PhoneNumberTypes.Recovery:
                        {
                            <MudText Align="Align.Center">
                                We have sent a SMS with code to:
                                <strong>@UserState.Credentials?.RecoveryPhoneNumber</strong>
                            </MudText>
                            break;
                        }
                        case PhoneNumberTypes.Secondary:
                        {
                            <MudText Align="Align.Center">
                                We have sent a SMS with code to:
                                <strong>@PhoneNumber</strong>
                            </MudText>
                            break;
                        }
                    }
                    <MudForm
                        @ref="form"
                        Model="Model"
                        Validation="Validator.ValidateValue">
                        <MudCodeInput
                            Class="d-flex align-items-center"
                            Variant="Variant.Outlined"
                            Spacing="2"
                            Margin="Margin.None"
                            Count="6"
                            @bind-Value="Model.Code"/>
                    </MudForm>
                    <MudLoadingButton
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        FullWidth
                        Disabled="@(Model.Code.Length <= 5)"
                        OnClick="@(async () => await OnVerificationAsync())">
                        Verify
                    </MudLoadingButton>
                </MudStack>
            </MudPaper>
            <CodeResend Context="context"></CodeResend>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "phoneNumber")]
    public string PhoneNumber { get; set; } = string.Empty;

    [SupplyParameterFromForm] private CodeModel Model { get; set; } = new();

    private MudForm form = new();
    private MessageContext? context;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var to = Type switch
            {
                PhoneNumberTypes.Primary => UserState.Credentials?.PrimaryPhoneNumber!,
                PhoneNumberTypes.Recovery => UserState.Credentials?.RecoveryPhoneNumber!,
                PhoneNumberTypes.Secondary => PhoneNumber,
                _ => throw new NotSupportedException("Unsupported phone number type")
            };
            
            context = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Sms,
                Resource = CodeResource.PhoneNumber,
                Type = CodeType.Verify,
                Payload = new()
                {
                    { "To", to }
                }
            };

            await SendCodeAsync();
        }
    }

    private async Task OnVerificationAsync()
    {
        await form.Validate();

        if (form.IsValid)
        {
            var request = context!.ToVerifyCodeRequest(Model.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var phoneNumber = Type switch
        {
            PhoneNumberTypes.Primary => UserState.Credentials?.PrimaryPhoneNumber!,
            PhoneNumberTypes.Recovery => UserState.Credentials?.RecoveryPhoneNumber!,
            PhoneNumberTypes.Secondary => PhoneNumber,
            _ => throw new NotSupportedException("Unsupported phone number type")
        };
        
        var request = new VerifyPhoneNumberRequest()
        {
            UserId = UserState.UserId,
            PhoneNumber = phoneNumber
        };

        var result = await SecurityService.VerifyPhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add(result.Message, Severity.Success);
            NavigationManager.NavigateTo("/account/phone-numbers");
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task SendCodeAsync()
    {
        var request = context!.ToSendCodeRequest();
        var response = await VerificationService.SendCodeAsync(request);
        Snackbar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
    }

}