@page "/account/change-phone-number"

@using Size = MudBlazor.Size
@inherits PageBase

@inject ISecurityService SecurityService
@inject AuthenticationManager AuthenticationManager

<Title Text="Change phone number"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="8" Style="margin-top:150px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudPaper Style="margin-bottom: 10px" Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        Phone number change
                                    </MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="6">
                                <MudPaper Outlined="true" Class="pa-5">
                                    <MudForm Validation="ChangePhoneNumberModel">
                                        <MudGrid Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Class="mb-1">
                                                    To change phone number, you should enter new phone number.
                                                    Please, enter new phone number.
                                                </MudText>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField
                                                    @bind-Value="ChangePhoneNumberModel.NewPhoneNumber"
                                                    For="() => ChangePhoneNumberModel.NewPhoneNumber"
                                                    Label="New phone number"
                                                    Variant="Variant.Outlined"
                                                    Immediate="true"
                                                    Clearable="true"/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="async () => await OnChangePhoneNumberAsync()">
                                                    Change
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Confirmation">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudPaper Style="margin-bottom: 10px" Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        Code confirmation
                                    </MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="6">
                                <MudPaper Outlined="true" Class="pa-5">
                                    <MudForm>
                                        <MudGrid Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Class="mb-2">
                                                    Enter code from SMS we sent your current phone number
                                                </MudText>
                                            </MudItem>
                                            <MudItem xs="7">
                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal" Spacing="1"
                                                    @bind-Value="ConfirmChangePhoneNumberModel.CurrentPhoneNumberCode"
                                                    Variant="Variant.Outlined"
                                                    Required/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="async () => await StepNextAsync()">
                                                    Confirm
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Check" Title="Verification">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="6">
                                <MudPaper Style="margin-bottom: 10px" Outlined Class="pa-3">
                                    <MudText Align="Align.Center" Typo="Typo.h4">
                                        Phone number verification
                                    </MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="6">
                                <MudPaper Outlined="true" Class="pa-5">
                                    <MudForm>
                                        <MudGrid Justify="Justify.Center">
                                            <MudItem xs="12">
                                                <MudText Class="mb-2">
                                                    Enter code from SMS we sent you to: @ChangePhoneNumberModel.NewPhoneNumber
                                                </MudText>
                                            </MudItem>
                                            <MudItem xs="7">
                                                <MudCodeInput
                                                    Count="6"
                                                    Margin="Margin.Normal" Spacing="1"
                                                    @bind-Value="ConfirmChangePhoneNumberModel.NewPhoneNumberCode"
                                                    Variant="Variant.Outlined"
                                                    Required/>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudButton
                                                    FullWidth="true"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Primary"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="async () => await OnConfirmChangePhoneNumberAsync()">
                                                    Verify
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudForm>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Email changed" IsResultStep="true">
                    <ChildContent>
                        <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                            <MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large"
                                           Variant="Variant.Filled" Color="Color.Success"/>
                            <MudText Style="width: 55ch; margin: auto">
                                Your phone number was successfully changed.
                                You will be redirected to profile page in 5seconds.
                            </MudText>
                        </div>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private ChangePhoneNumberModel ChangePhoneNumberModel { get; set; } = new();
    [SupplyParameterFromForm] private ConfirmChangePhoneNumberModel ConfirmChangePhoneNumberModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private Guid userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await LocalStorage.GetAsync<Guid>("userId");
        }
    }

    private async Task OnChangePhoneNumberAsync()
    {
        var request = new ChangePhoneNumberRequest()
        {
            UserId = userId,
            NewPhoneNumber = ChangePhoneNumberModel.NewPhoneNumber
        };

        var result = await SecurityService.ChangePhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Codes were sent", Severity.Success);
            await StepNextAsync();
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnConfirmChangePhoneNumberAsync()
    {
        var request = new ConfirmChangePhoneNumberRequest()
        {
            UserId = userId,
            NewPhoneNumber = ChangePhoneNumberModel.NewPhoneNumber,
            CurrentPhoneNumberCode = ConfirmChangePhoneNumberModel.CurrentPhoneNumberCode,
            NewPhoneNumberCode = ConfirmChangePhoneNumberModel.NewPhoneNumberCode,
        };

        var result = await SecurityService.ConfirmChangePhoneNumberAsync(request);

        if (result.Success)
        {
            var response = result.Get<ConfirmChangePhoneNumberResponse>()!;
            await StepNextAsync();
            
            Snackbar.Add("Phone number was successfully changed", Severity.Success);
            await AuthenticationManager.ReauthenticateAsync(response.AccessToken, response.RefreshToken);
            NavigationManager.NavigateTo("/profile");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
    
    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }
}