@page "/account/two-factor-login"

@using Size = MudBlazor.Size

@inherits PageBase

@inject ITwoFactorService TwoFactorService
@inject IUsersService UsersService
@inject AuthenticationManager AuthenticationManager

<Title Text="Login with 2FA"/>

<MudGrid Justify="Justify.Center">
    <MudItem xs="4" Style="margin-top: 150px">

        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Info" Title="Send code">
                <ChildContent>
                    <MudPaper Outlined Class="pa-3">
                        <MudForm Model="SendTwoFactorTokenModel">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText Class="mt-2" Align="Align.Center" Typo="Typo.body1"
                                             Style="width: 50ch; margin: auto">
                                        Your account has enabled 2-FA (Two-factor authentication).
                                        To verify a log in attempt, please select the provider and click the send button.
                                        You will receive a 6-digit code from the selected provider.
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudSelect
                                        Variant="Variant.Outlined"
                                        Label="Providers"
                                        @bind-Value="SendTwoFactorTokenModel.Provider"
                                        For="() => SendTwoFactorTokenModel.Provider"
                                        Immediate="true"
                                        Clearable="true"
                                        Required="true"
                                        RequiredError="Select a provider">
                                        @if (providers.Any())
                                        {
                                            foreach (var provider in providers)
                                            {
                                                <MudSelectItem Value="@provider.Name">@provider.Name</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudLoadingButton
                                        ButtonType="ButtonType.Button"
                                        StartIcon="@Icons.Material.Filled.NavigateNext"
                                        OnClick="async () => await OnSendTokenAsync()"
                                        Variant="Variant.Filled"
                                        Color="Color.Primary"
                                        FullWidth>
                                        Send
                                    </MudLoadingButton>
                                </MudItem>
                            </MudGrid>
                        </MudForm>
                    </MudPaper>
                </ChildContent>
            </MudStepExtended>
            <MudStepExtended Icon="@Icons.Material.Filled.Login" Title="Code verification" Order="2">
                <ChildContent>
                    <MudPaper Outlined Class="pa-3">
                        <MudForm Model="TwoFactorLoginModel">
                        @switch (SendTwoFactorTokenModel.Provider)
                        {
                            case ProviderTypes.Email:
                            {
                                <MudText Class="mt-2" Align="Align.Center" Typo="Typo.body1"
                                         Style="width: 50ch; margin: auto">
                                    Now enter the 6-digit code we sent to your email address.
                                    If you don't receive the code, check your spam folder.
                                    If you still don't receive the code, click the send button again.
                                </MudText>
                                break;
                            }
                            case ProviderTypes.Sms:
                            {
                                <MudText Class="mt-2" Align="Align.Center" Typo="Typo.body1"
                                         Style="width: 50ch; margin: auto">
                                    Now enter the 6-digit code we sent to your mobile phone.
                                    If you don't receive the code, check your spam folder.
                                    If you still don't receive the code, click the send button again.
                                </MudText>
                                break;
                            }
                            case ProviderTypes.Authenticator:
                            {
                                <MudText Class="mt-2" Align="Align.Center" Typo="Typo.body1"
                                         Style="width: 50ch; margin: auto">
                                    Now enter the 6-digit code we sent to your authenticator app.
                                </MudText>
                                break;
                            }
                        }
                        <MudGrid Justify="Justify.Center" Spacing="1">
                            <MudItem xs="7">
                                <br>
                                <MudCodeInput
                                    Count="6"
                                    Margin="Margin.Normal"
                                    @bind-Value="TwoFactorLoginModel.Code"
                                    Variant="Variant.Outlined"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudLoadingButton
                                    ButtonType="ButtonType.Button"
                                    Disabled="TwoFactorLoginModel.Code.Length <= 5"
                                    StartIcon="@Icons.Material.Filled.Login"
                                    OnClick="async () => await OnVerifyTokenAsync()"
                                    Variant="Variant.Filled"
                                    Color="Color.Primary"
                                    FullWidth>
                                    Verify
                                </MudLoadingButton>
                            </MudItem>
                        </MudGrid>
                    </MudForm>
                    </MudPaper>
                </ChildContent>
            </MudStepExtended>
            <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Result Step" IsResultStep="true">
                <ChildContent>
                    <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                        <MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large"
                                       Variant="Variant.Filled" Color="Color.Success"/>
                        <MudText Style="width: 55ch; margin: auto">
                            You successfully logged in with two-factor authentication.
                            You will be automatically redirected to main page in 5 seconds
                        </MudText>
                    </div>
                </ChildContent>
            </MudStepExtended>
        </MudStepperExtended>
        <MudPaper Outlined Class="pa-3" Style="margin-top: 10px">
            <MudText Align="Align.Center">More about 2-fa you can read
                <MudLink Href="/faq/security/2fa">here</MudLink>
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromForm] private SendTwoFactorTokenModel SendTwoFactorTokenModel { get; set; } = new();
    [SupplyParameterFromForm] private TwoFactorLoginModel TwoFactorLoginModel { get; set; } = new();
    
    [SupplyParameterFromQuery(Name = "email")] public string Email { get; set; } = string.Empty;
    [SupplyParameterFromQuery(Name = "id")] public Guid Id { get; set; }

    private MudStepperExtended stepper = new();
    private List<ProviderDto> providers = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadProvidersAsync();

        if (providers.Count == 1)
        {
            SendTwoFactorTokenModel.Provider = providers.First().Name;
        }

        SendTwoFactorTokenModel.Email = Email;
        TwoFactorLoginModel.Email = Email;
    }

    private async Task LoadProvidersAsync()
    {
        var result = await UsersService.GetTwoFactorProvidersAsync(Id);

        if (result.Success)
        {
            providers = result.Get<List<ProviderDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnSendTokenAsync()
    {
        if (SendTwoFactorTokenModel.Provider == ProviderTypes.Authenticator)
        {
            await StepNextAsync();
        }
        else
        {
            var request = Mapper.Map(SendTwoFactorTokenModel);
            var result = await TwoFactorService.SendTwoFactorTokenAsync(request);

            if (result.Success)
            {
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task OnVerifyTokenAsync()
    {
        var request = Mapper.Map(TwoFactorLoginModel);

        request.Provider = SendTwoFactorTokenModel.Provider;
        
        var result = await TwoFactorService.TwoFactorLoginAsync(request);

        if (result.Success)
        {
            var response = result.Get<LoginResponse>()!;

            if (response.IsLockedOut)
            {
                NavigationManager.NavigateTo($"/account/locked-out?email={TwoFactorLoginModel.Email}");
            }
            else
            {
                await Task.Delay(TimeSpan.FromMicroseconds(5));
                await AuthenticationManager.LogInAsync(response!.AccessToken, response.RefreshToken);
                NavigationManager.NavigateTo("/products");
                Snackbar.Add(result.Message, Severity.Success);
            }
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
            
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }

}
