@page "/account/email/change"
@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification
@using eSecurity.Core.Security.Identity

@inherits PageBase

@attribute [Authorize]

@inject ChangeEmailValidator ChangeEmailValidator
@inject CodeModelValidator Validator
@inject ISecurityService SecurityService
@inject IVerificationService VerificationService

@switch (Type)
{
    case EmailTypes.Primary:
        <Title Text="Primary email change"></Title> break;
    case EmailTypes.Recovery:
        <Title Text="Recovery email change"></Title> break;
}

<AccessConfirmation Context="_confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="_stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1">
                                            <MudPaper Outlined Class="pa-3">
                                                @switch (Type)
                                                {
                                                    case EmailTypes.Primary:
                                                    {
                                                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline"
                                                                   Size="Size.Small">
                                                            Primary email change
                                                        </MudTextM3>

                                                        break;
                                                    }
                                                    case EmailTypes.Recovery:
                                                    {
                                                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline"
                                                                   Size="Size.Small">
                                                            Recovery email change
                                                        </MudTextM3>

                                                        break;
                                                    }
                                                }
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="px-5 py-4">
                                                <MudStack Spacing="2">
                                                    @switch (Type)
                                                    {
                                                        case EmailTypes.Primary:
                                                        {
                                                            <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                                To change your current primary email address,
                                                                you need to enter new email address,
                                                                then we will send emails with verification code to your
                                                                current and new primary email addresses.
                                                            </MudTextM3>

                                                            break;
                                                        }
                                                        case EmailTypes.Recovery:
                                                        {
                                                            <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                                To change your current recovery email address,
                                                                you need to enter new email address,
                                                                then we will send emails with verification code to your
                                                                current and new recovery email addresses.
                                                            </MudTextM3>

                                                            break;
                                                        }
                                                    }
                                                    <MudForm
                                                        @ref="_changeForm"
                                                        Model="ChangeModel"
                                                        Validation="ChangeEmailValidator.ValidateValue">
                                                        <MudTextFieldExtended
                                                            Margin="Margin.Dense"
                                                            @bind-Value="ChangeModel.NewEmail"
                                                            For="() => ChangeModel.NewEmail"
                                                            Label="New email"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Success"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendCode())">
                                                        Change
                                                    </MudLoadingButton>
                                                    <MudButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Text"
                                                        Color="Color.Info"
                                                        ButtonType="ButtonType.Button"
                                                        Href="@ReturnUrl"
                                                        OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))">
                                                        Cancel
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                                    Email verification
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="px-5 py-4">
                                                <MudStack Spacing="2">
                                                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                        Enter 6-digit code from letter we sent you
                                                        to: @ChangeModel.NewEmail
                                                    </MudTextM3>
                                                    <MudForm
                                                        @ref="_confirmForm"
                                                        Model="ConfirmModel"
                                                        Validation="Validator.ValidateValue">
                                                        <MudTextFieldExtended
                                                            @bind-Value="ConfirmModel.Code"
                                                            Variant="Variant.Outlined"
                                                            Margin="Margin.Dense"
                                                            Placeholder="XXXXXX"
                                                            Mask="_mask"
                                                            Clearable="true"
                                                            Immediate="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Success"
                                                        ButtonType="ButtonType.Button"
                                                        Disabled="@(ConfirmModel.Code.Length <= 5)"
                                                        OnClick="@(async () => await OnChangeAsync())">
                                                        Verify
                                                    </MudLoadingButton>
                                                    <MudButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Text"
                                                        Color="Color.Info"
                                                        ButtonType="ButtonType.Button"
                                                        Href="@ReturnUrl"
                                                        OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))">
                                                        Cancel
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                            <CodeResend Context="_messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;

    [SupplyParameterFromForm] 
    private ChangeEmailModel ChangeModel { get; set; } = new();

    [SupplyParameterFromForm] 
    private CodeModel ConfirmModel { get; set; } = new();

    private PatternMask _mask = new("000000");
    private MudStepperExtended _stepper = new();
    private MudForm _changeForm = new();
    private MudForm _confirmForm = new();
    private MessageContext _messageContext = new();
    private ConfirmationContext? _confirmationContext;

    protected override void OnInitialized()
    {
        _confirmationContext = new ConfirmationContext()
        {
            Purpose = PurposeType.Email,
            Action = ActionType.Change
        };
    }

    private async Task OnSendCode()
    {
        await _changeForm.Validate();

        if (_changeForm.IsValid)
        {
            _messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Purpose = PurposeType.Email,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", ChangeModel.NewEmail }
                }
            };

            var request = _messageContext!.ToSendCodeRequest();
            var result = await VerificationService.SendCodeAsync(request);
            if (result.Succeeded) await _stepper.StepNextAsync();
            else Snackbar.Add(result.GetError().ErrorDescription, Severity.Error);
        }
    }

    private async Task ChangeAsync()
    {
        var type = Type switch
        {
            EmailTypes.Primary => EmailType.Primary,
            EmailTypes.Recovery => EmailType.Recovery,
            _ => throw new NotSupportedException("Unsupported email type")
        };

        var request = new ChangeEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = ChangeModel.NewEmail,
            Type = type,
        };

        var result = await SecurityService.ChangeEmailAsync(request);

        if (result.Succeeded)
        {
            Snackbar.Add("Email address was successfully changed", Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else
        {
            Snackbar.Add(result.GetError().ErrorDescription, Severity.Error);
        }
    }

    private async Task OnChangeAsync()
    {
        await _confirmForm.Validate();

        if (_confirmForm.IsValid)
        {
            var request = _messageContext!.ToVerifyCodeRequest(ConfirmModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Succeeded) await ChangeAsync();
            else Snackbar.Add(result.GetError().ErrorDescription, Severity.Error);
        }
    }

}
