@page "/account/email/reset"
@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification
@using eSecurity.Client.Security.Identity
@inherits PageBase

@attribute [Authorize]

@inject ResetEmailValidator ResetEmailValidator
@inject CodeModelValidator Validator
@inject IVerificationService VerificationService
@inject ISecurityService SecurityService
@inject IEmailService EmailService

<Title Text="Reset email"></Title>

<AccessConfirmation Context="_confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="_stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                                    Email reset
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="py-4 px-5">
                                                <MudStack Spacing="2">
                                                    <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                        To reset your current email address, please enter new
                                                        email address.
                                                        We will send you 6-digit reset code to new email
                                                        address.
                                                    </MudTextM3>
                                                    <MudForm
                                                        @ref="_resetForm"
                                                        Model="_resetModel"
                                                        Validation="ResetEmailValidator.ValidateValue">
                                                        <MudTextFieldExtended
                                                            Margin="Margin.Dense"
                                                            @bind-Value="_resetModel.NewEmail"
                                                            For="() => _resetModel.NewEmail"
                                                            Label="New email"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Success"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                    <MudButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Text"
                                                        Color="Color.Info"
                                                        ButtonType="ButtonType.Button"
                                                        Href="@ReturnUrl"
                                                        OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))">
                                                        Cancel
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                                    Email verification
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="py-4 px-5">
                                                <MudStack Spacing="2">
                                                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                        Enter code from the letter we sent you
                                                        to: <strong>@_resetModel.NewEmail</strong>
                                                    </MudTextM3>
                                                    <MudForm
                                                        @ref="_confirmForm"
                                                        Model="_confirmModel"
                                                        Validation="Validator.ValidateValue">
                                                        <MudTextFieldExtended
                                                            @bind-Value="_confirmModel.Code"
                                                            Variant="Variant.Outlined"
                                                            Margin="Margin.Dense"
                                                            Placeholder="XXXXXX"
                                                            Mask="_mask"
                                                            Clearable="true"
                                                            Immediate="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        Disabled="@(_confirmModel.Code.Length <= 5)"
                                                        OnClick="@(async () => await OnVerifyAsync())">
                                                        Verify
                                                    </MudLoadingButton>
                                                    <MudButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Text"
                                                        Color="Color.Info"
                                                        ButtonType="ButtonType.Button"
                                                        Href="@ReturnUrl"
                                                        OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))">
                                                        Cancel
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                            <CodeResend Context="_messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;
    
    private readonly ResetEmailModel _resetModel = new();
    private readonly CodeModel _confirmModel = new();

    private readonly PatternMask _mask = new("000000");
    private MudStepperExtended _stepper = new();
    private MudForm _resetForm = new();
    private MudForm _confirmForm = new();
    private MessageContext? _messageContext;
    private ConfirmationContext? _confirmationContext;

    protected override void OnInitialized()
    {
        _confirmationContext = new ConfirmationContext()
        {
            Action = ActionType.Reset,
            Purpose = PurposeType.Email
        };
    }

    private async Task OnSendCodeAsync()
    {
        await _resetForm.Validate();

        if (_resetForm.IsValid)
        {
            _messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Email,
                Purpose = PurposeType.Email,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", _resetModel.NewEmail }
                }
            };

            var request = new CheckEmailRequest()
            {
                UserId = UserState.UserId,
                Email = _resetModel.NewEmail
            };

            var result = await EmailService.CheckEmailAsync(request);

            if (result.Succeeded) await SendCodeAsync();
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        var request = _messageContext!.ToSendCodeRequest();
        var result = await VerificationService.SendCodeAsync(request);

        if (result.Succeeded) await _stepper.StepNextAsync();
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await _confirmForm.Validate();

        if (_confirmForm.IsValid)
        {
            var request = _messageContext!.ToVerifyCodeRequest(_confirmModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Succeeded) await VerifyAsync();
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new ResetEmailRequest()
        {
            UserId = UserState.UserId,
            NewEmail = _resetModel.NewEmail,
        };

        var result = await EmailService.ResetEmailAsync(request);

        if (result.Succeeded)
        {
            Snackbar.Add("Email was successfully reset", Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }

}