@page "/account/passkeys/sign-in"
@using eSecurity.Client.Common.JS.WebAuthN
@using eSecurity.Client.Components.Pages.OAuth
@using eSecurity.Client.Security
@using eSecurity.Client.Security.Credentials.PublicKey
@using eSecurity.Core.Security.Authentication.SignIn
@using eSecurity.Core.Security.Credentials.PublicKey

@inherits PageBase

@inject PasskeySignInValidator Validator
@inject WebAuthNManager WebAuthNManager
@inject ISecurityService SecurityService
@inject IPasskeyService PasskeyService

<Title Text="Sign in with Passkey"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="4" Style="margin-top: 50px">
        <MudStack Spacing="1">
            <MudPaper Outlined="true" Class="pa-3">
                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                    Sign in for eSecurity
                </MudTextM3>
            </MudPaper>
            <MudPaper Outlined="true" Class="pa-3">
                <MudForm @ref="_form" Model="_model" Validation="Validator.ValidateValue">
                    <MudStack Spacing="2">
                        <MudTextFieldExtended
                            Margin="Margin.Dense"
                            @bind-Value="_model.Username"
                            For="@(() => _model.Username)"
                            Label="Username"
                            Immediate
                            Variant="Variant.Outlined"/>

                        <MudLoadingButton
                            LoadingAdornment="Adornment.End"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await OnSubmitAsync())"
                            StartIcon="@Icons.Material.Filled.Login"
                            Disabled="@(string.IsNullOrEmpty(_model.Username))"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            Size="Size.Medium"
                            FullWidth="true">
                            Sign in
                        </MudLoadingButton>
                    </MudStack>
                </MudForm>
            </MudPaper>
            <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudDivider Style="max-width: 45%"/>
                <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">OR</MudTextM3>
                <MudDivider Style="max-width: 45%"/>
            </MudStack>
            <MudPaper Class="pa-3" Outlined="true">
                <MudStack Spacing="1">
                    <MudLoadingButton
                        Size="Size.Medium"
                        LoadingAdornment="Adornment.End"
                        ButtonType="ButtonType.Button"
                        Href="@Links.Account.SignIn"
                        StartIcon="@Icons.Material.Filled.Password"
                        Variant="Variant.Filled"
                        Color="Color.Info"
                        FullWidth="true">
                        Continue with Password
                    </MudLoadingButton>
                    <Providers/>
                </MudStack>
            </MudPaper>
            <MudPaper Outlined="true" Class="pa-3">
                <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                    Do not have an account yet?
                    <MudLink Typo="Typo.body2" Href="@Links.Account.SignUp">
                        Sign up
                    </MudLink>
                </MudTextM3>
            </MudPaper>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    private PasskeySignInModel _model = new();
    private MudForm _form = new();

    private async Task OnSubmitAsync()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = new GenerateRequestOptionsRequest()
            {
                Username = _model.Username
            };

            var result = await PasskeyService.GenerateRequestOptionsAsync(request);
            var options = result.Get()!;

            if (result.Succeeded) await VerifyAsync(options);
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task VerifyAsync(PublicKeyCredentialRequestOptions options)
    {
        var authenticateResult = await WebAuthNManager.AuthenticateAsync(options);
        if (authenticateResult.Success)
        {
            var credential = authenticateResult.Get<PublicKeyCredential>();
            var request = new SignInRequest()
            {
                Payload = new PasskeySignInPayload()
                {
                    Credential = credential
                }
            };

            var result = await SecurityService.SignInAsync(request);

            if (result.Succeeded)
            {
                var response = result.Get()!;
                var sessionResult = await SecurityService.LoadSignInSessionAsync(response.SessionId);
                if (sessionResult.Succeeded)
                {
                    var session = sessionResult.Get();

                    if (session.UserId.HasValue)
                    {
                        UserState.UserId = session.UserId.Value;
                        AuthenticationManager.Authorize();
                    }
                    else
                    {
                        Snackbar.Add("Invalid session", Severity.Error);
                    }
                }
                else
                {
                    var error = result.GetError();
                    Snackbar.Add(error.Description, Severity.Error);
                }
            }
            else
            {
                var error = result.GetError();

                if (error.Code == Errors.Common.AccountLockedOut)
                {
                    NavigationManager.NavigateTo(Links.Account.LockedOutPage);
                }
                else
                {
                    Snackbar.Add(result.GetError().Description, Severity.Error);
                }
            }
        }
    }

}