@page "/recover-account"

@using eSecurity.Client.Security
@using eSecurity.Client.Security.Authorization.Access.Verification

@inherits PageBase

@inject CodeModelValidator Validator
@inject ISecurityService SecurityService
@inject IVerificationService VerificationService

<Title Text="Account recovery"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="_stepper" Color="Color.Primary" Variant="Variant.Filled"
                            Animation="true"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Search" Title="Search">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                            Account check
                                        </MudTextM3>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudStack Spacing="3">
                                            <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                To recover your account, we need first find your account and check
                                                access recovery requirements. If you have verified recovery email
                                                address, we will send recovery code via an email message, when you
                                                enter 6-digit recovery code from the email, we will set your recovery
                                                email address as primary. Please, enter your username.
                                            </MudTextM3>
                                            <MudForm
                                                @ref="_checkAccountForm"
                                                Model="_recoverAccountModel">
                                                <MudTextFieldExtended
                                                    Label="Username"
                                                    For="@(() => _recoverAccountModel.Username)"
                                                    Variant="Variant.Outlined"
                                                    Immediate
                                                    @bind-Value="_recoverAccountModel.Username"
                                                    Margin="Margin.Dense"/>
                                            </MudForm>
                                            <MudLoadingButton
                                                Size="Size.Medium" 
                                                FullWidth="true"
                                                Variant="Variant.Filled"
                                                Color="Color.Primary"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnCheckAsync())">
                                                Continue
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Recovery">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined Class="pa-3">
                                        <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                            Account recovery
                                        </MudTextM3>
                                    </MudPaper>
                                    <MudPaper Outlined Class="pa-3">
                                        <MudStack Spacing="1">
                                            <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                Enter 6-digit code from the email we sent you to:
                                                <strong>@_recoveryEmail</strong>
                                            </MudTextM3>
                                            <MudForm
                                                @ref="_verifyCodeForm"
                                                Model="_codeModel"
                                                Validation="Validator.ValidateValue">
                                                <MudTextFieldExtended
                                                    @bind-Value="_codeModel.Code"
                                                    Variant="Variant.Outlined"
                                                    Margin="Margin.Dense"
                                                    Placeholder="XXXXXX"
                                                    Mask="_mask"
                                                    Clearable="true"
                                                    Immediate="true"/>
                                            </MudForm>
                                            <MudLoadingButton
                                                Size="Size.Medium" 
                                                FullWidth="true"
                                                Variant="Variant.Filled"
                                                Class="mt-2"
                                                Color="Color.Primary"
                                                Disabled="@(_codeModel.Code.Length <= 5)"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await OnVerifyAsync())">
                                                Confirm
                                            </MudLoadingButton>
                                        </MudStack>
                                    </MudPaper>
                                    <CodeResend Context="_context"></CodeResend>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {
    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = string.Empty;
    
    private readonly RecoverAccountModel _recoverAccountModel = new();
    private readonly CodeModel _codeModel = new();

    private MudStepperExtended _stepper = new();
    private MudForm _checkAccountForm = new();
    private MudForm _verifyCodeForm = new();
    private readonly PatternMask _mask = new("000000");

    private Guid _userId;
    private string? _recoveryEmail;
    private MessageContext? _context;

    private async Task OnCheckAsync()
    {
        await _checkAccountForm.Validate();

        if (_checkAccountForm.IsValid)
        {
            var request = new CheckAccountRequest()
            {
                Username = _recoverAccountModel.Username
            };

            var result = await SecurityService.CheckAccountAsync(request);

            if (result.Succeeded)
            {
                var response = result.Get()!;

                if (!response.Exists)
                {
                    const string message = "Account with such username doesn't exist. Please, check entered your name.";
                    Snackbar.Add(message, Severity.Error);
                    return;
                }

                if (!response.HasRecoveryEmail || string.IsNullOrEmpty(response.RecoveryEmail))
                {
                    const string message = "Your account exists, but doesn't have recovery email or it is not verified";
                    Snackbar.Add(message, Severity.Error);
                    return;
                }

                if (response.IsLockedOut)
                {
                    const string message = "Account is locked out";
                    Snackbar.Add(message, Severity.Error);
                    return;
                }

                _userId = response.UserId;
                _recoveryEmail = response.RecoveryEmail;
                
                _context = new MessageContext()
                {
                    UserId = _userId,
                    Sender = SenderType.Email,
                    Purpose = PurposeType.Account,
                    Action = ActionType.Recover,
                    Payload = new()
                    {
                        { "To", _recoveryEmail! }
                    }
                };

                await _stepper.StepNextAsync();
                await SendCodeAsync();
            }
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        var request = _context!.ToSendCodeRequest();
        var response = await VerificationService.SendCodeAsync(request);

        Snackbar.Add(response.GetError().Description, response.Succeeded ? Severity.Success : Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await _verifyCodeForm.Validate();

        if (_verifyCodeForm.IsValid)
        {
            var request = _context!.ToVerifyCodeRequest(_codeModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Succeeded) await VerifyAsync();
            else Snackbar.Add(result.GetError().Description, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new RecoverAccountRequest() { UserId = _userId };
        var result = await SecurityService.RecoverAccountAsync(request);

        if (result.Succeeded)
        {
            const string message = "Account was successfully recovered. Now sign-in with your recovery email";
            Snackbar.Add(message, Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else Snackbar.Add(result.GetError().Description, Severity.Error);
    }
}