@page "/account/oauth/signed-up"
@using eAccount.Common.Models
@inherits PageBase

@inject AddPasswordValidator AddPasswordValidator
@inject AddUsernameValidator AddUsernameValidator
@inject ISecurityService SecurityService
@inject IUserService UserService

<Title Text="OAuth sign up"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6" Style="margin-top: 100px">
        <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                            HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                            ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
            <ChildContent>
                <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Info" Title="Info">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Successfully signed up @Provider
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudStack Spacing="3" Justify="Justify.Center">
                                            <MudText Align="Align.Center">
                                                Your account was successfully signed up with @Provider.
                                                Now can provide password for login with password in future,
                                                username and personal data. All there steps are
                                                <strong>optional</strong>.
                                                So you can just skip them and provide all needed data on profile or
                                                security page.
                                            </MudText>
                                            <MudButton
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                ButtonType="ButtonType.Button"
                                                OnClick="@(async () => await StepNextAsync())">
                                                Continue
                                            </MudButton>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Password" Title="Add password">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Add password
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudStack Spacing="2">
                                            <MudForm
                                                @ref="addPasswordForm"
                                                Model="AddPasswordModel"
                                                Validation="AddPasswordValidator.ValidateValue">
                                                <MudPasswordField
                                                    @bind-Value="AddPasswordModel.Password"
                                                    For="() => AddPasswordModel.Password"
                                                    Label="Password"
                                                    Variant="Variant.Outlined"
                                                    Immediate="true"
                                                    Clearable="true"/>
                                                <MudPasswordField
                                                    @bind-Value="AddPasswordModel.ConfirmPassword"
                                                    For="() => AddPasswordModel.ConfirmPassword"
                                                    Label="Confirm password"
                                                    Variant="Variant.Outlined"
                                                    Immediate="true"
                                                    Clearable="true"/>
                                            </MudForm>
                                            <MudStack Row="true" Spacing="1">
                                                <MudButton
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnAddPasswordAsync())">
                                                    Add password
                                                </MudButton>
                                                <MudButton
                                                    Color="Color.Info"
                                                    Variant="Variant.Outlined"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await StepNextAsync())">
                                                    Skip
                                                </MudButton>
                                            </MudStack>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Edit" Title="Add username">
                    <ChildContent>
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="8">
                                <MudStack Spacing="1" Justify="Justify.Center">
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                            Add username
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Outlined="true" Class="pa-3">
                                        <MudStack Spacing="2">
                                            <MudForm
                                                @ref="addUsernameForm"
                                                Model="AddUsernameModel"
                                                Validation="AddUsernameValidator.ValidateValue">
                                                <MudTextField
                                                    @bind-Value="AddUsernameModel.Username"
                                                    For="() => AddUsernameModel.Username"
                                                    Label="Username"
                                                    Variant="Variant.Outlined"
                                                    Immediate="true"
                                                    Clearable="true"/>
                                            </MudForm>
                                            <MudStack Row="true" Spacing="1">
                                                <MudButton
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await OnAddUsernameAsync())">
                                                    Add username
                                                </MudButton>
                                                <MudButton
                                                    Color="Color.Info"
                                                    Variant="Variant.Outlined"
                                                    ButtonType="ButtonType.Button"
                                                    OnClick="@(async () => await StepNextAsync())">
                                                    Skip
                                                </MudButton>
                                            </MudStack>
                                        </MudStack>
                                    </MudPaper>
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudStepExtended>
            </ChildContent>
        </MudStepperExtended>
    </MudItem>
</MudGrid>

@code {

    [SupplyParameterFromQuery(Name = "provider")]
    public string Provider { get; set; } = string.Empty;

    [SupplyParameterFromForm] public AddPasswordModel AddPasswordModel { get; set; } = new();
    [SupplyParameterFromForm] public AddUsernameModel AddUsernameModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm addPasswordForm = new();
    private MudForm addUsernameForm = new();
    
    private Guid userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await LocalStorage.GetAsync<Guid>("userId")!;
        }
    }
    
    private async Task OnAddUsernameAsync()
    {
        await addUsernameForm.Validate();

        if (addUsernameForm.IsValid)
        {
            var request = new ChangeUsernameRequest()
            {
                UserId = userId,
                Username = AddUsernameModel.Username
            };
            
            var result = await UserService.ChangeUsernameAsync(request);

            if (result.Success)
            {
                Snackbar.Add("Username was successfully added", Severity.Success);
                NavigationManager.NavigateTo(Links.Profile);
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task OnAddPasswordAsync()
    {
        await addPasswordForm.Validate();

        if (addPasswordForm.IsValid)
        {
            var request = new AddPasswordRequest()
            {
                UserId = userId,
                Password = AddPasswordModel.Password
            };

            var result = await SecurityService.AddPasswordAsync(request);

            if (result.Success)
            {
                Snackbar.Add("Password was successfully added", Severity.Success);
                await StepNextAsync();
            }
            else
            {
                Snackbar.Add(result.Message, Severity.Error);
            }
        }
    }

    private async Task StepNextAsync()
    {
        var index = stepper!.GetActiveIndex();
        await stepper!.CompleteStep(index);
    }
}