@inject UserState UserState
@inject ISnackbar Snackbar
@inject IVerificationService VerificationService

<MudStack Spacing="3">
    <MudPaper Outlined="true" Class="pa-5">
        <MudStack Spacing="3">
            <MudForm @ref="form" Model="CodeModel">
                <MudTextFieldExtended
                    Variant="Variant.Outlined"
                    Margin="Margin.Dense"
                    Immediate="true"
                    Mask="@mask"
                    Placeholder="XXXXXX"
                    @bind-Value="CodeModel.Code"/>
            </MudForm>
            <MudLoadingButton
                ButtonType="ButtonType.Button"
                Variant="Variant.Filled"
                Color="Color.Success"
                Size="Size.Small"
                FullWidth="true"
                Disabled="@(CodeModel.Code.Length <= 5)"
                OnClick="@(async () => await OnVerifyAsync())">
                Verify code
            </MudLoadingButton>
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true" Class="py-3 px-5">
        <MudStack>
            <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium" Class="fw-bold">
                Having problems?
            </MudTextM3>
            <ul>
                @if (Model.PasskeyEnabled)
                {
                    <li>
                        <MudLink
                            OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.Passkey))">
                            Confirm access with passkey
                        </MudLink>
                    </li>
                }
                <li>
                    <MudLink OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.Email))">
                        Confirm access with email
                    </MudLink>
                </li>
            </ul>
        </MudStack>
    </MudPaper>
</MudStack>

@code {
    [Parameter] 
    public EventCallback OnAccessConfirmed { get; set; }

    [Parameter] 
    public EventCallback<VerificationMethod> OnMethodChanged { get; set; }

    [Parameter] 
    public ConfirmationContext Context { get; set; } = null!;

    [Parameter] 
    public UserVerificationData Model { get; set; } = new();

    private CodeModel CodeModel { get; set; } = new();
    private PatternMask mask = new("000000");
    private MudForm form = new();

    private async Task OnVerifyAsync()
    {
        var request = new VerifyAuthenticatorCodeRequest()
        {
            UserId = UserState.UserId,
            Code = CodeModel.Code,
            Action = Context.Action,
            Purpose = Context.Purpose
        };

        var result = await VerificationService.VerifyAuthenticatorCodeAsync(request);

        if (result.Success) await OnAccessConfirmed.InvokeAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

}