@using eSecurity.Common.Confirmation
@using eSecurity.Common.DTOs
@using eSecurity.Common.JS.WebAuthN
@using eSecurity.Features.Passkeys.Commands
@using eSecurity.Security.Credentials.PublicKey.Credentials
@using eSecurity.Security.Authorization.Access.Verification
@using eSecurity.Features.Verification.Commands

@inject UserState UserState
@inject WebAuthNManager WebAuthNManager
@inject ISnackbar Snackbar
@inject ISender Sender

<MudStack Spacing="3">
    <MudPaper Outlined="true" Class="pa-5">
        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudIcon Size="Size.Large" Icon="@Icons.Material.Outlined.Key"/>
            <MudTextM3 Typo="TypoM3.Title" Size="Size.Large">Passkey</MudTextM3>
            <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                When you are ready, authenticate using the button below.
            </MudTextM3>
            @if (isLoading)
            {
                <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Color="Color.Primary"/>
                    <MudTextM3 Typo="TypoM3.Body" Size="Size.Small" Class="opacity-50">
                        Waiting for input from browser interaction...
                    </MudTextM3>
                </MudStack>
            }
            else
            {
                if (showError)
                {
                    <MudButton
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Success"
                        Size="Size.Small"
                        FullWidth="true"
                        OnClick="@(async () => await OnVerifyAsync())">
                        Retry passkey
                    </MudButton>
                    <MudAlert
                        Severity="Severity.Error"
                        Variant="Variant.Outlined"
                        Class="w-100"
                        Dense="true"
                        ContentAlignment="HorizontalAlignment.Center">
                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium" Align="Align.Center" Class="w-100">
                            Failed on using passkey
                        </MudTextM3>
                    </MudAlert>
                }
                else
                {
                    <MudButton
                        ButtonType="ButtonType.Button"
                        Variant="Variant.Filled"
                        Color="Color.Success"
                        Size="Size.Small"
                        FullWidth="true"
                        OnClick="@(async () => await OnVerifyAsync())">
                        Use passkey
                    </MudButton>
                }
            }
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true" Class="py-3 px-5">
        <MudStack>
            <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium" Class="fw-bold">
                Having problems?
            </MudTextM3>
            <ul>
                <li>
                    <MudLink
                        OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.Email))">
                        Confirm access with email
                    </MudLink>
                </li>
                @if (Model.AuthenticatorEnabled)
                {
                    <li>
                        <MudLink
                            OnClick="@(async () => await OnMethodChanged.InvokeAsync(VerificationMethod.AuthenticatorApp))">
                            Confirm access with authenticator app
                        </MudLink>
                    </li>
                }
            </ul>
        </MudStack>
    </MudPaper>
</MudStack>

@code {
    [Parameter] 
    public EventCallback OnAccessConfirmed { get; set; }
    
    [Parameter] 
    public EventCallback<VerificationMethod> OnMethodChanged { get; set; }
    
    [Parameter] 
    public ConfirmationContext Context { get; set; } = null!;
    
    [Parameter] 
    public UserVerificationData Model { get; set; } = new();

    private bool isLoading;
    private bool showError;

    private async Task OnVerifyAsync()
    {
        isLoading = true;
        showError = false;
        var command = new GenerateRequestOptionsCommand() { Username = UserState.Credentials!.Username! };
        var result = await Sender.Send(command);

        if (result.Succeeded)
        {
            var options = result.Get<PublicKeyCredentialRequestOptions>()!;
            await VerifyAsync(options);
        }
        else
        {
            showError = true;
            isLoading = false;
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync(PublicKeyCredentialRequestOptions options)
    {
        var authenticateResult = await WebAuthNManager.AuthenticateAsync(options);
        if (authenticateResult.Success)
        {
            var credential = authenticateResult.Get<PublicKeyCredential>();
            var command = new VerifyPasskeyCommand()
            {
                UserId = UserState.UserId,
                Purpose = Context.Purpose,
                Action = Context.Action,
                Credential = credential
            };

            var result = await Sender.Send(command);

            if (result.Succeeded)
            {
                await OnAccessConfirmed.InvokeAsync();
                showError = false;
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
        else showError = true;

        isLoading = false;
    }

}