@page "/account/profile"

@inherits PageBase

@attribute [Authorize]

@inject UserState UserState
@inject IUsersService UsersService
@inject IDialogService DialogService

<Title Text="Profile"></Title>

<MudGrid Spacing="2" Justify="Justify.Center">
    <MudItem xs="8">
        <MudGrid Spacing="2">
            <MudItem xs="3">
                <MudPaper Outlined="true" Class="pa-5">
                    <MudStack Class="w-100">
                        <MudImage
                            Class="w-100 h-auto rounded-lg"
                            Alt="Avatar"
                            Src="/images/avatar.jpg"
                            FallbackSrc="/images/avatar.jpg"/>

                        <MudLoadingButton
                            FullWidth="true"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            ButtonType="ButtonType.Button">
                            Change avatar
                        </MudLoadingButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="9">
                <MudGrid Spacing="2">
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                <MudItem xs="12">
                                    <MudText Class="mb-2" Typo="Typo.h6">
                                        Account information
                                    </MudText>
                                </MudItem>
                                <MudItem xs="3" Class="mt-2">
                                    <MudText>
                                        User name
                                    </MudText>
                                </MudItem>
                                <MudItem xs="8" Class="mt-2">
                                    <MudText Inline="true">
                                        @UserModel.UserName
                                    </MudText>
                                </MudItem>
                                <MudItem xs="1" Class="text-end">
                                    <MudTooltip Text="Change username">
                                        <MudIconButton
                                            Icon="@Icons.Material.Filled.Edit"
                                            Color="Color.Primary"
                                            Variant="Variant.Filled"
                                            OnClick="@(async () => await OnUserNameChangeAsync())"/>
                                    </MudTooltip>
                                </MudItem>
                                @if (UserModel.UserNameChangeDate is not null)
                                {
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudText Align="Align.End" Typo="Typo.caption" Style="opacity: .5;">
                                            Last change: @UserModel.UserNameChangeDate?.ToString("MM/dd/yyyy HH:mm")
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudDivider/>
                                    </MudItem>
                                }
                                else
                                {
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                }
                                <MudItem xs="3" Class="mt-2">
                                    <MudText>
                                        Email address
                                    </MudText>
                                </MudItem>
                                <MudItem xs="8" Class="mt-2">
                                    <MudText>
                                        @UserModel.Email
                                    </MudText>
                                </MudItem>
                                <MudItem xs="1" Class="text-end">
                                    <MudTooltip Text="Change email">
                                        <MudIconButton
                                            Icon="@Icons.Material.Filled.Edit"
                                            Color="Color.Primary"
                                            Variant="Variant.Filled"
                                            OnClick="@(async () => await RouteManager.NavigateAsync("/account/email/change"))"/>
                                    </MudTooltip>
                                </MudItem>
                                @if (UserModel.EmailChangeDate is not null)
                                {
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudText Align="Align.Start" Typo="Typo.caption" Style="opacity: .5;">
                                            Last change: @UserModel.EmailChangeDate?.ToString("MM/dd/yyyy HH:mm")
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudDivider/>
                                    </MudItem>
                                }
                                else
                                {
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                }
                                @if (!string.IsNullOrEmpty(UserModel.PhoneNumber))
                                {
                                    <MudItem xs="3" Class="mt-2">
                                        <MudText>
                                            Phone number
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="8" Class="mt-2">
                                        <MudText>
                                            @UserModel.PhoneNumber
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="text-end">
                                        <MudTooltip Text="Change phone number">
                                            <MudIconButton
                                                Icon="@Icons.Material.Filled.Edit"
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                OnClick="@(async () => await RouteManager.NavigateAsync("/account/phone-number/change"))"/>
                                        </MudTooltip>
                                    </MudItem>

                                    if (UserModel.PhoneNumberChangeDate is not null)
                                    {
                                        <MudItem xs="12" Style="padding-top: 0">
                                            <MudText Align="Align.Start" Typo="Typo.caption" Style="opacity: .5;">
                                                Last
                                                change: @UserModel.PhoneNumberChangeDate?.ToString("MM/dd/yyyy HH:mm")
                                            </MudText>
                                        </MudItem>
                                    }
                                }
                                else
                                {
                                    <MudItem xs="11" Class="mt-2">
                                        <MudText>
                                            Phone number
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="text-end">
                                        <MudTooltip Text="Add phone number">
                                            <MudIconButton
                                                Icon="@Icons.Material.Filled.Add"
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                OnClick="@(async () => await RouteManager.NavigateAsync("/account/phone-number/add"))"/>
                                        </MudTooltip>
                                    </MudItem>
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudText Style="opacity: 0.5" Typo="Typo.caption">
                                            Phone number was not added. You can add it by click button right.
                                        </MudText>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <MudPaper Outlined="true" Class="pa-5">
                            <MudGrid Spacing="3">
                                @if (UserModel.PersonalData is null)
                                {
                                    <MudItem xs="11">
                                        <MudText Class="mb-2" Typo="Typo.h6">
                                            Personal information
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="text-end">
                                        <MudTooltip Text="Add personal data">
                                            <MudIconButton
                                                Icon="@Icons.Material.Filled.Add"
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                OnClick="@(async () => await OnAddPersonalDataAsync())"/>
                                        </MudTooltip>
                                    </MudItem>
                                    <MudItem xs="12" Style="padding-top: 0">
                                        <MudText Style="opacity: 0.5" Typo="Typo.caption">
                                            Personal information was not added. You can add it by click button right.
                                        </MudText>
                                    </MudItem>
                                }
                                else
                                {
                                    <MudItem xs="11">
                                        <MudText Class="mb-2" Typo="Typo.h6">
                                            Personal information
                                        </MudText>
                                        @if (UserModel.PersonalData.UpdateDate is not null)
                                        {
                                            <MudText Align="Align.Start" Typo="Typo.caption" Style="opacity: .5;">
                                                Last
                                                change: @UserModel.PersonalData!.UpdateDate?.ToString("MM/dd/yyyy HH:mm")
                                            </MudText>
                                        }
                                    </MudItem>
                                    <MudItem xs="1" Class="text-end">
                                        <MudTooltip Text="Change personal data">
                                            <MudIconButton
                                                Icon="@Icons.Material.Filled.Edit"
                                                Color="Color.Primary"
                                                Variant="Variant.Filled"
                                                OnClick="@(async () => await OnChangePersonalDataAsync())"/>
                                        </MudTooltip>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            First name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.FirstName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Last name
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.LastName
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Birth date
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.BirthDate.ToString("D", new CultureInfo("en-GB"))
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudDivider/>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudText>
                                            Gender
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="9">
                                        <MudText>
                                            @UserModel.PersonalData.Gender.ToString()
                                        </MudText>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private UserModel UserModel { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId");
        var result = await UsersService.GetUserAsync(userId);

        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnUserNameChangeAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangeUserNameModel()
        {
            Id = UserModel.Id,
            UserName = UserModel.UserName,
        };

        var parameters = new DialogParameters<ChangeUserNameDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangeUserNameDialog>("Change username", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
            await UserState.Change();
        }
    }

    private async Task OnChangePersonalDataAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = Mapper.Map(UserModel);

        var parameters = new DialogParameters<ChangePersonalDataDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePersonalDataDialog>("Change personal data", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task OnAddPersonalDataAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new AddPersonalDataModel() { Id = UserModel.Id };

        var parameters = new DialogParameters<AddPersonalDataDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<AddPersonalDataDialog>("Add personal data", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }
}