@page "/account/security"

@inherits PageBase

@inject IUsersService UsersService
@inject IDialogService DialogService
@inject ITwoFactorService TwoFactorService
@inject IProvidersService ProvidersService

@inject AuthenticationManager AuthenticationManager

@attribute [Authorize]

<Title Text="Security"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="2" Justify="Justify.Center">
            <MudCard Outlined="true" Class="pa-3">
                <MudCardHeader Class="e-card-header">
                    <MudText Typo="Typo.h6">
                        Two-factor authentication (2FA)
                    </MudText>
                    <MudSpacer />
                    <MudIconButton
                        Class="pr-0"
                        Icon="@Icons.Material.Filled.Settings"
                        ButtonType="ButtonType.Button"/>
                </MudCardHeader>
                <MudCardContent Class="e-card-content">
                    <MudGrid Spacing="3">
                        <MudItem xs="12">
                            <MudText>Providers</MudText>
                            <MudDivider />
                        </MudItem>
                        <MudItem xs="12" Class="mt-2">
                            <MudGrid Spacing="1">
                                <MudItem xs="3">
                                    <MudText> With Email </MudText>
                                </MudItem>
                                <MudItem xs="9">
                                    <MudText Color="Color.Success"> Enabled </MudText>
                                </MudItem>
                                <MudItem xs="12" Style="padding-top: 0">
                                    <MudText Class="opacity-50" Typo="Typo.caption">
                                        Enabled at: 07.28.2025 10:39
                                    </MudText>
                                </MudItem>
                                <MudItem Class="pt-0" xs="12">
                                    <MudDivider />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12" Class="mt-2">
                            <MudGrid Spacing="1">
                                <MudItem xs="3">
                                    <MudText> With SMS </MudText>
                                </MudItem>
                                <MudItem xs="9">
                                    <MudText Color="Color.Error"> Disabled </MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0">
                                    <MudText Class="opacity-50" Typo="Typo.caption">
                                        Disabled at: 07.28.2025 10:39
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0">
                                    <MudDivider/>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions>
                    <MudButton
                        Color="Color.Error"
                        Variant="Variant.Outlined"
                        ButtonType="ButtonType.Button">
                        Disable 2FA
                    </MudButton>
                </MudCardActions>
            </MudCard>
            <MudCard Outlined="true" Class="pa-3">
                <MudCardHeader Class="e-card-header">
                    <MudStack Spacing="0">
                        <MudText Typo="Typo.h6">
                            Password
                        </MudText>
                        @if (UserModel.PasswordChangeDate is not null)
                        {
                            <MudText Align="Align.Start" Typo="Typo.caption" Class="opacity-50 mb-2">
                                Last change: @UserModel.PasswordChangeDate.Value.ToString("MM/dd/yyyy HH:mm")
                            </MudText>
                        }
                    </MudStack>
                </MudCardHeader>
                <MudCardActions>
                    <MudStack Row="true" Spacing="1">
                        <MudLoadingButton
                            Color="Color.Primary"
                            Variant="Variant.Filled"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await OnChangePasswordAsync())">
                            Change password
                        </MudLoadingButton>
                        <MudLoadingButton
                            Color="Color.Error"
                            Variant="Variant.Outlined"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await OnResetPasswordAsync())">
                            Reset password
                        </MudLoadingButton>
                    </MudStack>
                </MudCardActions>
            </MudCard>
            <MudCard Outlined="true" Class="pa-3">
                <MudCardHeader Class="e-card-header">
                    <MudStack Spacing="0">
                        <MudText Typo="Typo.h6">
                            Email
                        </MudText>
                        @if (UserModel.EmailChangeDate is not null)
                        {
                            <MudText Align="Align.Start" Typo="Typo.caption" Class="mb-2 opacity-50">
                                Last change: @UserModel.EmailChangeDate.Value.ToString("MM/dd/yyyy HH:mm")
                            </MudText>
                        }
                    </MudStack>
                </MudCardHeader>
                <MudCardContent Class="e-card-content">
                    <MudText>
                        @UserModel.Email
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudStack Spacing="1" Row="true">
                        <MudLoadingButton
                            Color="Color.Primary"
                            Variant="Variant.Filled"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await RouteManager.NavigateAsync("/account/email/change"))">
                            Change email
                        </MudLoadingButton>
                        <MudLoadingButton
                            Color="Color.Error"
                            Variant="Variant.Outlined"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await RouteManager.NavigateAsync("/account/email/reset"))">
                            Reset email
                        </MudLoadingButton>
                    </MudStack>
                </MudCardActions>
            </MudCard>
            <MudCard Outlined="true" Class="pa-3">
                <MudCardHeader Class="e-card-header">
                    <MudStack Spacing="0">
                        @if (isLoading)
                        {
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6">
                                    Phone number
                                </MudText>
                            </MudItem>
                        }
                        else
                        {
                            if (string.IsNullOrEmpty(UserModel.PhoneNumber))
                            {
                                <MudText Typo="Typo.h6">
                                    Phone number
                                </MudText>
                                <MudText Style="opacity: 0.5" Typo="Typo.caption">
                                    Phone number was not added. You can add it by click button below.
                                </MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.h6">
                                    Phone number
                                </MudText>
                                @if (UserModel.PhoneNumberChangeDate is not null)
                                {
                                    <MudText Align="Align.Start" Typo="Typo.caption" Class="mb-2 opacity-50">
                                        Last
                                        change: @UserModel.PhoneNumberChangeDate.Value.ToString("MM/dd/yyyy HH:mm")
                                    </MudText>
                                }
                            }
                        }
                    </MudStack>
                </MudCardHeader>
                @if (!string.IsNullOrEmpty(UserModel.PhoneNumber))
                {
                    <MudCardContent Class="e-card-content">
                        <MudText>
                            @UserModel.PhoneNumber
                        </MudText>
                    </MudCardContent>
                }
                <MudCardActions>
                    @if (string.IsNullOrEmpty(UserModel.PhoneNumber))
                    {
                        <MudLoadingButton
                            Color="Color.Primary"
                            Variant="Variant.Filled"
                            ButtonType="ButtonType.Button"
                            OnClick="@(async () => await RouteManager.NavigateAsync("/account/phone-number/add"))">
                            Add phone number
                        </MudLoadingButton>
                    }
                    else
                    {
                        <MudStack Spacing="1" Row="true">
                            <MudLoadingButton
                                Color="Color.Primary"
                                Variant="Variant.Filled"
                                ButtonType="ButtonType.Button"
                                OnClick="@(async () => await RouteManager.NavigateAsync("/account/phone-number/change"))">
                                Change phone number
                            </MudLoadingButton>
                            <MudLoadingButton
                                Color="Color.Error"
                                Variant="Variant.Outlined"
                                ButtonType="ButtonType.Button"
                                OnClick="@(async () => await RouteManager.NavigateAsync("/account/phone-number/reset"))">
                                Reset phone number
                            </MudLoadingButton>
                        </MudStack>
                    }
                </MudCardActions>
            </MudCard>
        </MudStack>
    </MudItem>
</MudGrid>

<style>
    .e-card-header {
        padding-left: 8px;
        padding-top: 0;
    }
    .e-card-content {
        padding-left: 8px;
        padding-top: 0;
    }
</style>

@code {
    private UserModel UserModel { get; set; } = new();
    private SecurityModel SecurityModel { get; set; } = new();

    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserAsync();
            await LoadProvidersAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserAsync()
    {
        var state = await AuthenticationManager.GetStateAsync();
        var result = await UsersService.GetUserAsync(state!.UserId);

        if (result.Success)
        {
            var response = result.Get<UserDto>()!;
            var model = Mapper.Map(response);
            UserModel = model;
            isLoading = false;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task LoadProvidersAsync()
    {
        var state = await AuthenticationManager.GetStateAsync();
        var result = await UsersService.GetTwoFactorProvidersAsync(state.UserId);

        if (result.Success)
        {
            SecurityModel.Providers = result.Get<List<UserProviderDto>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangePasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangePasswordModel() { Id = UserModel.Id };

        var parameters = new DialogParameters<ChangePasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePasswordDialog>("Change password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }

    private async Task OnResetPasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ResetPasswordModel() { Id = UserModel.Id };

        var parameters = new DialogParameters<ResetPasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ResetPasswordDialog>("Reset password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserAsync();
            StateHasChanged();
        }
    }
}