@page "/account/security"

@using eShop.BlazorWebUI.Components.Pages.Profile.Components.Security
@inherits PageBase

@inject IUsersService UsersService
@inject IDialogService DialogService
@inject ITwoFactorService TwoFactorService

@attribute [Authorize]

<Title Text="Security"></Title>

<MudGrid Justify="Justify.Center">
    <MudItem xs="6">
        <MudStack Spacing="2" Justify="Justify.Center">
            <TwoFactorSection
                Model="Model"
                OnSubscribe="@(async (value) => await OnSubscribeAsync(value))"
                OnUnsubscribe="@(async (value) => await OnUnsubscribeAsync(value))"
                OnGenerateCodes="@OnGenerateRecoveryCodesAsync"/>
            <LinkedAccountsSection Model="Model"/>
            <DevicesSection 
                Model="Model"
                OnVerify="@(async (value) => await OnVerifyAsync(value))"
                OnBlock="@(async (value) => await OnBlockAsync(value))"
                OnUnblock="@(async (value) => await OnUnblockAsync(value))"/>
            <PasswordSection
                Model="Model"
                OnAdd="@OnAddPasswordAsync"
                OnChange="@OnChangePasswordAsync"
                OnReset="@OnResetPasswordAsync"/>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    private UserSecurityModel Model { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }

    private async Task LoadUserSecurityAsync()
    {
        var userId = await LocalStorage.GetAsync<Guid>("userId")!;
        var result = await UsersService.GetUserSecurityDataAsync(userId);

        if (result.Success)
        {
            var response = result.Get<UserSecurityDto>()!;
            var model = Mapper.Map(response);
            Model = model;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangePasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ChangePasswordModel() { Id = Model.UserId };

        var parameters = new DialogParameters<ChangePasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ChangePasswordDialog>("Change password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }

    private async Task OnAddPasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new AddPasswordModel() { UserId = Model.UserId };

        var parameters = new DialogParameters<AddPasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<AddPasswordDialog>("Add password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }

    private async Task OnResetPasswordAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var model = new ResetPasswordModel() { Id = Model.UserId };

        var parameters = new DialogParameters<ResetPasswordDialog>()
        {
            { x => x.Model, model }
        };

        var dialog = await DialogService.ShowAsync<ResetPasswordDialog>("Reset password", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }

    private async Task OnSubscribeAsync(string provider)
    {
        if (provider == ProviderTypes.Authenticator)
        {
            await RouteManager.NavigateAsync("/account/2fa/authenticator");
        }
        else
        {
            await RouteManager.NavigateAsync($"/account/2fa/provider/{provider}");
        }
    }

    private async Task OnUnsubscribeAsync(string provider)
    {
        var options = new DialogOptions()
        {
            BackdropClick = true,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraExtraLarge,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<Disable2FaProviderDialog>()
        {
            { x => x.UserId, Model.UserId },
            { x => x.Provider, provider }
        };

        var dialog = await DialogService.ShowAsync<Disable2FaProviderDialog>("Disable 2FA provider", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }

    private async Task OnGenerateRecoveryCodesAsync()
    {
        var recoveryCodes = new List<string>();
        var request = new GenerateRecoveryCodesRequest() { UserId = Model.UserId };
        var result = await TwoFactorService.GenerateRecoveryCodesAsync(request);

        if (result.Success)
        {
            recoveryCodes = result.Get<List<string>>()!;
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }

        var options = new DialogOptions()
        {
            BackdropClick = true,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraExtraLarge,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<GenerateRecoveryCodesDialog>()
        {
            { x => x.Codes, recoveryCodes }
        };

        var dialog = await DialogService.ShowAsync<GenerateRecoveryCodesDialog>("Generate 2FA recovery codes", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult!.Canceled)
        {
            await LoadUserSecurityAsync();
            StateHasChanged();
        }
    }
    
    private async Task OnVerifyAsync(Guid id) => await RouteManager.NavigateAsync(
        $"/account/device/verify?device={id}&user={Model.UserId}");
    
    private async Task OnBlockAsync(Guid id) => await RouteManager.NavigateAsync(
        $"/account/device/block?device={id}&user={Model.UserId}");
    
    private async Task OnUnblockAsync(Guid id) => await RouteManager.NavigateAsync(
        $"/account/device/unblock?device={id}&user={Model.UserId}");
}