<MudPaper Outlined="true" Class="py-3 px-5">
    <MudStack>
        <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium" Class="fw-bold">
            Having problems?
        </MudTextM3>
        <ul>
            @switch (Method)
            {
                case VerificationMethod.AuthenticatorApp:
                {
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.Passkey))">
                            Confirm access with passkey
                        </MudLink>
                    </li>
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.Email))">
                            Confirm access with email
                        </MudLink>
                    </li>
                    break;
                }
                case VerificationMethod.Passkey:
                {
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.Email))">
                            Confirm access with email
                        </MudLink>
                    </li>
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.AuthenticatorApp))">
                            Confirm access with authenticator app
                        </MudLink>
                    </li>
                    break;
                }
                case VerificationMethod.Email:
                {
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.AuthenticatorApp))">
                            Confirm access with authenticator app
                        </MudLink>
                    </li>
                    <li>
                        <MudLink OnClick="@(async () => await SelectMethodAsync(VerificationMethod.Passkey))">
                            Confirm access with passkey
                        </MudLink>
                    </li>
                    break;
                }
            }
        </ul>
    </MudStack>
</MudPaper>

@code {
    [Parameter] public VerificationMethod Method { get; set; }
    [Parameter] public EventCallback<VerificationMethod> OnChangeMethod { get; set; }

    private async Task SelectMethodAsync(VerificationMethod method)
    {
        await OnChangeMethod.InvokeAsync(method);
    }

}