@page "/account/2fa/enable"

@using eSecurity.Common.DTOs
@using eSecurity.Common.JS.Download
@using eSecurity.Features.TwoFactor.Commands
@using eSecurity.Features.Verification.Commands
@using eSecurity.Features.Users.Queries
@using eSecurity.Extensions

@inherits PageBase

@attribute [Authorize]

@inject IDialogService DialogService
@inject CodeModelValidator Validator
@inject DownloadManager DownloadManager

<Title Text="Enable two-factor authentication (2FA)"></Title>

<AccessConfirmation Context="confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 50px">
                <MudStepperExtended
                    @ref="stepper"
                    Color="Color.Primary"
                    Variant="Variant.Filled"
                    Animation="true"
                    Linear="true"
                    HeaderTextView="HeaderTextView.All"
                    HeaderBadgeView="HeaderBadgeView.All"
                    ShowNextButton="false"
                    ShowPreviousButton="false"
                    ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.PhonelinkLock" Title="Configure app">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudTextM3 Typo="TypoM3.Headline" Size="Size.Small"
                                                           Align="Align.Center">
                                                    Configure authenticator app
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined Class="pa-5">
                                                <MudStack Spacing="3">
                                                    <MudStack Spacing="0">
                                                        <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium">
                                                            Setup authenticator app
                                                        </MudTextM3>
                                                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium"
                                                                   Class="opacity-50">
                                                            Authenticator apps and browser extensions like
                                                            <MudLink
                                                                Typo="Typo.body2"
                                                                Class="text-decoration-underline"
                                                                Color="Color.Default"
                                                                Href="@ExternalLinks.OnePassword">
                                                                1Password
                                                            </MudLink>
                                                            ,
                                                            <MudLink
                                                                Typo="Typo.body2"
                                                                Class="text-decoration-underline"
                                                                Color="Color.Default"
                                                                Href="@ExternalLinks.Authy">
                                                                Authy
                                                            </MudLink>
                                                            ,
                                                            <MudLink
                                                                Typo="Typo.body2"
                                                                Class="text-decoration-underline"
                                                                Color="Color.Default"
                                                                Href="@ExternalLinks.MicrosoftAuthenticator">
                                                                Microsoft Authenticator
                                                            </MudLink>
                                                            ,
                                                            etc. generate one-time
                                                            passwords that are used as a second factor to verify your
                                                            identity when prompted during sign-in.
                                                        </MudTextM3>
                                                    </MudStack>
                                                    <MudStack Spacing="0">
                                                        <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium">
                                                            Scan QR code with your app/browser extension
                                                        </MudTextM3>
                                                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium"
                                                                   Class="opacity-50">
                                                            Use an authenticator app or browser extension to scan QR
                                                            code.
                                                        </MudTextM3>
                                                    </MudStack>
                                                    <MudStack>
                                                        <MudBarcode
                                                            BarcodeFormat="BarcodeFormat.QR_CODE"
                                                            @bind-Value="@(QrCode.Value)"
                                                            Height="200"
                                                            Width="200"/>
                                                    </MudStack>
                                                    <div>
                                                        <MudTextM3
                                                            Typo="TypoM3.Body"
                                                            Size="Size.Medium"
                                                            Class="opacity-50"
                                                            Inline="true">
                                                            Unable to scan? You can use the
                                                        </MudTextM3>
                                                        <MudLink
                                                            Color="Color.Info"
                                                            Typo="Typo.body2"
                                                            OnClick="@(async () => await ShowSetupKeyAsync())">
                                                            setup key
                                                        </MudLink>
                                                        <MudTextM3
                                                            Typo="TypoM3.Body"
                                                            Size="Size.Medium"
                                                            Class="opacity-50"
                                                            Inline="true">
                                                            to manually configure your authenticator app.
                                                        </MudTextM3>
                                                    </div>
                                                    <MudStack Spacing="1" Style="max-width: 300px">
                                                        <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium">
                                                            Verify the code from the app
                                                        </MudTextM3>
                                                        <MudForm
                                                            @ref="form"
                                                            Model="Model"
                                                            Validation="Validator.ValidateValue">
                                                            <MudStack Row="true" Spacing="1">
                                                                <MudTextFieldExtended
                                                                    Variant="Variant.Outlined"
                                                                    Margin="Margin.Dense"
                                                                    Immediate="true"
                                                                    Mask="@mask"
                                                                    Placeholder="XXXXXX"
                                                                    @bind-Value="Model.Code"/>
                                                            </MudStack>
                                                        </MudForm>
                                                        @if (showError)
                                                        {
                                                            <MudAlert
                                                                Severity="Severity.Error"
                                                                Dense="true"
                                                                Variant="Variant.Outlined">
                                                                Invalid code
                                                            </MudAlert>
                                                        }
                                                    </MudStack>
                                                    <MudStack Spacing="2">
                                                        <MudButton
                                                            Size="Size.Small"
                                                            Color="Color.Success"
                                                            Variant="Variant.Filled"
                                                            ButtonType="ButtonType.Button"
                                                            OnClick="@(async () => await OnVerifyAsync())">
                                                            Verify
                                                        </MudButton>
                                                        <MudButton
                                                            Variant="Variant.Text"
                                                            Color="Color.Info"
                                                            ButtonType="ButtonType.Button"
                                                            Href="@ReturnUrl"
                                                            Size="Size.Small">
                                                            Cancel
                                                        </MudButton>
                                                    </MudStack>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="2" Icon="@Icons.Material.Filled.Download" Title="Download codes">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-5">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline"
                                                           Size="Size.Small">
                                                    Download your recovery codes
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined Class="pa-5">
                                                <MudStack Spacing="3">
                                                    <MudTextM3 Class="opacity-50" Typo="TypoM3.Body" Size="Size.Medium">
                                                        You can use recovery codes as a second factor to authenticate in
                                                        case you lose access to your device. We recommend saving them
                                                        with a secure password manager such as 1Password, Authy, or
                                                        Keeper.
                                                    </MudTextM3>
                                                    <MudAlert
                                                        Severity="Severity.Info"
                                                        Variant="Variant.Outlined">
                                                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                            Keep your recovery codes in a safe spot
                                                        </MudTextM3>
                                                        <MudTextM3 Typo="TypoM3.Body" Size="Size.Small">
                                                            If you lose your device and don't have the recovery codes,
                                                            you will lose access to your account.
                                                        </MudTextM3>
                                                    </MudAlert>
                                                    <RecoveryCodes Codes="Codes"/>
                                                    <MudStack Row="true" Justify="Justify.FlexEnd">
                                                        <MudLoadingButton
                                                            Size="Size.Small"
                                                            Color="Color.Success"
                                                            Variant="Variant.Filled"
                                                            ButtonType="ButtonType.Button"
                                                            OnClick="@(async () => await OnDownloadAsync())">
                                                            Download
                                                        </MudLoadingButton>
                                                    </MudStack>
                                                    <MudDivider/>
                                                    <MudStack Spacing="2">
                                                        <MudLoadingButton
                                                            Size="Size.Small"
                                                            Disabled="@(!DownloadedCodes)"
                                                            Color="Color.Success"
                                                            Variant="Variant.Filled"
                                                            ButtonType="ButtonType.Button"
                                                            OnClick="@(async () => await OnEnableAsync())">
                                                            I downloaded recovery codes
                                                        </MudLoadingButton>
                                                        <MudButton
                                                            Variant="Variant.Text"
                                                            Color="Color.Info"
                                                            ButtonType="ButtonType.Button"
                                                            Href="@ReturnUrl"
                                                            Size="Size.Small">
                                                            Cancel
                                                        </MudButton>
                                                    </MudStack>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="3" Icon="@Icons.Material.Filled.Check" Title="Done">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="10">
                                        <MudStack Spacing="3" Justify="Justify.Center">
                                            <MudAlert
                                                Severity="Severity.Success"
                                                Variant="Variant.Outlined"
                                                ContentAlignment="HorizontalAlignment.Center">
                                                <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                    You have enabled two-factor authentication using your authenticator
                                                    app.
                                                </MudTextM3>
                                            </MudAlert>
                                            <AdditionalMethods Methods="Methods"/>
                                            <MudStack Row="true" Justify="Justify.Center">
                                                <MudButton
                                                    FullWidth="true"
                                                    ButtonType="ButtonType.Button"
                                                    Variant="Variant.Filled"
                                                    Color="Color.Success"
                                                    Size="Size.Small"
                                                    Href="@ReturnUrl">
                                                    Done
                                                </MudButton>
                                            </MudStack>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;

    [SupplyParameterFromForm] private CodeModel Model { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm form = new();
    private ConfirmationContext? confirmationContext;
    private readonly PatternMask mask = new("000000");
    private bool showError;

    private bool DownloadedCodes { get; set; }
    private QrCode QrCode { get; set; } = new();
    private List<string> Codes { get; set; } = [];
    private List<UserTwoFactorMethod> Methods { get; set; } = [];

    protected override void OnInitialized()
    {
        confirmationContext = new ConfirmationContext()
        {
            Purpose = PurposeType.TwoFactor,
            Action = ActionType.Enable,
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnGenerateQrCodeAsync();
            StateHasChanged();
        }
    }

    private async Task OnGenerateQrCodeAsync()
    {
        var command = new GenerateQrCodeCommand() { UserId = UserState.UserId };
        var result = await Sender.Send(command);

        if (result.Succeeded) QrCode = result.Get<QrCode>()!;
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        showError = false;
        var command = new VerifyAuthenticatorCodeCommand()
        {
            UserId = UserState.UserId,
            Purpose = PurposeType.AuthenticatorApp,
            Action = ActionType.Subscribe,
            Code = Model.Code
        };

        var result = await Sender.Send(command);

        if (result.Succeeded) await GenerateRecoveryCodesAsync();
        else showError = true;
    }

    private async Task GenerateRecoveryCodesAsync()
    {
        var command = new GenerateRecoveryCodesCommand() { UserId = UserState.UserId };
        var result = await Sender.Send(command);

        if (result.Succeeded)
        {
            Codes = result.Get<List<string>>()!;
            await stepper.StepNextAsync();
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task ShowSetupKeyAsync()
    {
        var options = new DialogOptions()
        {
            BackdropClick = true,
            CloseButton = true,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraExtraLarge
        };

        var parameters = new DialogParameters<AuthenticatorSecretDialog>()
        {
            { dialog => dialog.Secret, QrCode.Secret }
        };

        await DialogService.ShowAsync<AuthenticatorSecretDialog>("Your two-factor secret", parameters, options);
    }

    private async Task OnDownloadAsync()
    {
        await DownloadManager.DownloadAsync("eaccount-recovery-codes.txt", Codes);
        DownloadedCodes = true;
    }

    private async Task OnEnableAsync()
    {
        var command = new EnableCommand() { UserId = UserState.UserId };
        var result = await Sender.Send(command);

        if (result.Succeeded)
        {
            await LoadMethodsAsync();
            await stepper.StepNextAsync();
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task LoadMethodsAsync()
    {
        var result = await Sender.Send(new GetUserTwoFactorMethodsQuery(UserState.UserId));

        if (result.Succeeded) Methods = result.Get<List<UserTwoFactorMethod>>()!;
        else Snackbar.Add(result.Message, Severity.Error);
    }

}