@page "/account/passkeys/add"

@using eSecurity.Client.Common.JS.WebAuthN
@using eSecurity.Core.Security.Credentials.PublicKey

@inherits PageBase

@attribute [Authorize]

@inject CreatePasskeyValidator Validator
@inject WebAuthNManager WebAuthNManager
@inject IPasskeyService PasskeyService

<Title Text="Add passkey"></Title>

<AccessConfirmation Context="_context">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 50px">
                <MudStepperExtended
                    @ref="_stepper"
                    Color="Color.Primary"
                    Variant="Variant.Filled"
                    Animation="true"
                    HeaderTextView="HeaderTextView.All"
                    HeaderBadgeView="HeaderBadgeView.All"
                    ShowNextButton="false"
                    ShowPreviousButton="false"
                    ShowSkipButton="false"
                    Linear="true">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Key" Title="Add passkey">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="6">
                                        <MudPaper Outlined Class="pa-5">
                                            <MudStack Spacing="3">
                                                <MudStack Row="true" Justify="Justify.Center">
                                                    <MudIcon
                                                        Icon="@Icons.Material.Filled.Key"
                                                        Size="Size.Large"/>
                                                </MudStack>
                                                <MudTextM3 Typo="TypoM3.Title" Size="Size.Large" Align="Align.Center">
                                                    Add a passkey
                                                </MudTextM3>
                                                <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                    Your device supports passkeys, a password replacement that validates
                                                    your identity using touch, facial recognition, a device password, or
                                                    a PIN.
                                                </MudTextM3>
                                                <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                    Passkeys can be used for sign-in as a simple and secure alternative
                                                    to your password and two-factor credentials.
                                                </MudTextM3>
                                                <MudDivider />
                                                <MudStack Spacing="1">
                                                    <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium">
                                                        Passkey nickname
                                                    </MudTextM3>
                                                    <MudForm 
                                                        @ref="_form" 
                                                        Model="Model" 
                                                        Validation="Validator.ValidateValue">
                                                        <MudTextFieldExtended
                                                            @bind-Value="Model.DisplayName"
                                                            Margin="Margin.Dense"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                </MudStack>
                                                @if (_showError)
                                                {
                                                    <MudAlert
                                                        ContentAlignment="HorizontalAlignment.Center"
                                                        Variant="Variant.Outlined"
                                                        Dense="true"
                                                        Severity="Severity.Error"
                                                        Class="w-100">
                                                        Failure on adding passkey
                                                    </MudAlert>
                                                }
                                                <MudButton
                                                    Color="Color.Success"
                                                    Variant="Variant.Filled"
                                                    ButtonType="ButtonType.Button"
                                                    Size="Size.Small"
                                                    OnClick="@(async () => await OnAddPasskeyAsync())">
                                                    @(_showError ? "Retry add passkey" : "Add passkey")
                                                </MudButton>
                                                <MudButton
                                                    Color="Color.Info"
                                                    Variant="Variant.Text"
                                                    Size="Size.Small"
                                                    ButtonType="ButtonType.Button"
                                                    Href="@ReturnUrl">
                                                    Cancel
                                                </MudButton>
                                            </MudStack>
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Outlined.CheckCircle" Title="Add nickname">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="6">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-5">
                                                <MudStack Spacing="3">
                                                    <MudStack Row="true" Justify="Justify.Center">
                                                        <MudIcon
                                                            Icon="@Icons.Material.Outlined.CheckCircle"
                                                            Size="Size.Large"
                                                            Color="Color.Success"/>
                                                    </MudStack>
                                                    <MudTextM3 
                                                        Typo="TypoM3.Title" 
                                                        Size="Size.Large" 
                                                        Align="Align.Center">
                                                        Successfully added a passkey
                                                    </MudTextM3>
                                                    <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                        From now on, you can use this passkey to sign-in to eAccount
                                                        from this browser.
                                                    </MudTextM3>
                                                    <MudTextM3 Typo="TypoM3.Body" Size="Size.Medium">
                                                        Also you can configure hardware security keys (USB/NFC) to 
                                                        sign-in to eAccount from any device.
                                                    </MudTextM3>
                                                    <MudButton
                                                        Class="mt-2"
                                                        Color="Color.Success"
                                                        Variant="Variant.Filled"
                                                        ButtonType="ButtonType.Button"
                                                        Size="Size.Small"
                                                        Href="@ReturnUrl">
                                                        Done
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;

    private CreatePasskeyModel Model { get; set; } = new();
    private MudStepperExtended _stepper = new();
    private ConfirmationContext? _context;
    private MudForm _form = new();
    private bool _showError;

    protected override void OnInitialized()
    {
        _context = new()
        {
            Action = ActionType.Create,
            Purpose = PurposeType.Passkey
        };
    }

    private async Task OnAddPasskeyAsync()
    {
        _showError = false;
        await _form.Validate();

        if (_form.IsValid)
        {
            var request = new GenerateCreationOptionsRequest()
            {
                UserId = UserState.UserId,
                DisplayName = Model.DisplayName
            };

            var result = await PasskeyService.GenerateCreationOptionsAsync(request);

            if (result.Success)
            {
                var options = result.Get<PublicKeyCredentialCreationOptions>()!;
                await VerifyPasskeyAsync(options);
            }
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyPasskeyAsync(PublicKeyCredentialCreationOptions options)
    {
        var assertResult = await WebAuthNManager.AssertAsync(options);
        if (assertResult.Success)
        {
            var assertResponse = assertResult.Get<PublicKeyCredentialCreationResponse>();
            var request = new CreatePasskeyRequest()
            {
                UserId = UserState.UserId,
                DisplayName = Model.DisplayName,
                Response = assertResponse
            };

            var result = await PasskeyService.CreateAsync(request);
            if (result.Success) await _stepper.StepNextAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
        else _showError = true;
    }
}