@page "/account/phone-number/change"
@using eSystem.Core.Security.Identity.PhoneNumber
@using eSystem.Core.Security.Authorization.Access
@using eSystem.Core.Common.Messaging
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IVerificationService VerificationService
@inject ChangePhoneNumberValidator ChangePhoneNumberValidator
@inject CodeModelValidator Validator

@switch (Type)
{
    case PhoneNumberTypes.Primary: <Title Text="Primary phone number change"></Title> break;
    case PhoneNumberTypes.Recovery: <Title Text="Recovery phone number change"></Title> break;
}

<AccessConfirmation Context="confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                @switch (Type)
                                                {
                                                    case PhoneNumberTypes.Primary:
                                                    {
                                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                                            Primary phone number change
                                                        </MudText>
                                                        break;
                                                    }
                                                    case PhoneNumberTypes.Recovery:
                                                    {
                                                        <MudText Align="Align.Center" Typo="Typo.h4">
                                                            Recovery phone number change
                                                        </MudText>
                                                        break;
                                                    }
                                                }
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-5">
                                                <MudStack Spacing="3">
                                                    @switch (Type)
                                                    {
                                                        case PhoneNumberTypes.Primary:
                                                        {
                                                            <MudText Class="mb-1" Align="Align.Center">
                                                                To change your current primary phone number,
                                                                you need to enter new phone number,
                                                                then we will send SMS with verification code to your
                                                                current and new primary phone numbers.
                                                            </MudText>
                                                            break;
                                                        }
                                                        case PhoneNumberTypes.Recovery:
                                                        {
                                                            <MudText Class="mb-1" Align="Align.Center">
                                                                To change your current recovery phone number,
                                                                you need to enter new phone number,
                                                                then we will send SMS with verification code to your
                                                                current and new recovery phone numbers.
                                                            </MudText>
                                                            break;
                                                        }
                                                    }
                                                    <MudForm
                                                        @ref="changeForm"
                                                        Validation="ChangePhoneNumberValidator.ValidateValue"
                                                        Model="ChangePhoneNumberModel">
                                                        <MudTextField
                                                            @bind-Value="ChangePhoneNumberModel.NewPhoneNumber"
                                                            For="() => ChangePhoneNumberModel.NewPhoneNumber"
                                                            Label="New phone number"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendNewCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudText Align="Align.Center" Typo="Typo.h4">
                                                    Phone number verification
                                                </MudText>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-5">
                                                <MudForm
                                                    @ref="confirmForm"
                                                    Model="ConfirmChangePhoneNumberModel"
                                                    Validation="Validator.ValidateValue">
                                                    <MudStack Spacing="2">
                                                        <MudText Class="mb-2" Align="Align.Center">
                                                            Enter code from SMS we sent you to:
                                                            <strong>@ChangePhoneNumberModel.NewPhoneNumber</strong>
                                                        </MudText>

                                                        <MudCodeInput
                                                            Count="6"
                                                            Margin="Margin.Normal"
                                                            Spacing="2"
                                                            Class="d-flex align-items-center"
                                                            @bind-Value="ConfirmChangePhoneNumberModel.Code"
                                                            Variant="Variant.Outlined"/>

                                                        <MudLoadingButton
                                                            FullWidth="true"
                                                            Variant="Variant.Filled"
                                                            Color="Color.Primary"
                                                            ButtonType="ButtonType.Button"
                                                            Disabled="@(ConfirmChangePhoneNumberModel.Code.Length <= 5)"
                                                            OnClick="@(async () => await OnChangeAsync())">
                                                            Verify
                                                        </MudLoadingButton>
                                                    </MudStack>
                                                </MudForm>
                                            </MudPaper>
                                            <CodeResend Context="messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "type")]
    public string Type { get; set; } = string.Empty;
    
    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;

    [SupplyParameterFromForm] 
    private ChangePhoneNumberModel ChangePhoneNumberModel { get; set; } = new();

    [SupplyParameterFromForm] 
    private CodeModel ConfirmChangePhoneNumberModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm changeForm = new();
    private MudForm confirmForm = new();
    private MessageContext messageContext = new();
    private ConfirmationContext? confirmationContext;

    protected override void OnInitialized()
    {
        confirmationContext = new ConfirmationContext()
        {
            Purpose = PurposeType.PhoneNumber,
            Action = ActionType.Change
        };
    }

    private async Task OnSendNewCodeAsync()
    {
        await changeForm.Validate();

        if (changeForm.IsValid)
        {
            messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Sms,
                Purpose = PurposeType.PhoneNumber,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", ChangePhoneNumberModel.NewPhoneNumber }
                }
            };

            var request = messageContext!.ToSendCodeRequest();
            var result = await VerificationService.SendCodeAsync(request);

            if (result.Success) await stepper.StepNextAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task OnChangeAsync()
    {
        await confirmForm.Validate();

        if (confirmForm.IsValid)
        {
            var request = messageContext!.ToVerifyCodeRequest(ConfirmChangePhoneNumberModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await ChangeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task ChangeAsync()
    {
        var type = Type switch
        {
            PhoneNumberTypes.Primary => PhoneNumberType.Primary,
            PhoneNumberTypes.Recovery => PhoneNumberType.Recovery,
            _ => throw new NotSupportedException("Unsupported phone number type")
        };

        var request = new ChangePhoneNumberRequest()
        {
            UserId = UserState.UserId,
            Type = type,
            NewPhoneNumber = ChangePhoneNumberModel.NewPhoneNumber,
        };

        var result = await SecurityService.ChangePhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Phone number was successfully changed", Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }

}