@page "/account/phone-number/reset"
@using eSystem.Core.Requests.Auth
@using eSystem.Core.Common.Messaging
@inherits PageBase

@attribute [Authorize]

@inject ISecurityService SecurityService
@inject IVerificationService VerificationService
@inject ResetPhoneNumberValidator ResetPhoneNumberValidator
@inject CodeModelValidator Validator

<Title Text="Reset phone number"></Title>

<AccessConfirmation Context="confirmationContext">
    <AccessConfirmed>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6" Style="margin-top: 100px">
                <MudStepperExtended @ref="stepper" Color="Color.Primary" Variant="Variant.Filled"
                                    HeaderTextView="HeaderTextView.All" HeaderBadgeView="HeaderBadgeView.All"
                                    ShowNextButton="false" ShowPreviousButton="false" ShowSkipButton="false">
                    <ChildContent>
                        <MudStepExtended Order="0" Icon="@Icons.Material.Filled.Start" Title="Request">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Style="margin-bottom: 10px" Outlined Class="pa-3">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                                    Phone number reset
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-5">
                                                <MudStack Spacing="3">
                                                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                        To reset phone number, you should enter new phone
                                                        number.
                                                        Please, enter new phone number.
                                                    </MudTextM3>
                                                    <MudForm
                                                        @ref="resetForm"
                                                        Model="ResetModel"
                                                        Validation="ResetPhoneNumberValidator.ValidateValue">
                                                        <MudTextField
                                                            @bind-Value="ResetModel.NewPhoneNumber"
                                                            For="() => ResetModel.NewPhoneNumber"
                                                            Label="New phone number"
                                                            Variant="Variant.Outlined"
                                                            Immediate="true"
                                                            Clearable="true"/>
                                                    </MudForm>
                                                    <MudLoadingButton
                                                        FullWidth="true"
                                                        Variant="Variant.Filled"
                                                        Color="Color.Primary"
                                                        ButtonType="ButtonType.Button"
                                                        OnClick="@(async () => await OnSendCodeAsync())">
                                                        Change
                                                    </MudLoadingButton>
                                                    <MudButton
                                                        Size="Size.Small"
                                                        Variant="Variant.Text"
                                                        Color="Color.Info"
                                                        ButtonType="ButtonType.Button"
                                                        Href="@ReturnUrl"
                                                        OnClick="@(() => NavigationManager.NavigateTo(ReturnUrl))">
                                                        Cancel
                                                    </MudButton>
                                                </MudStack>
                                            </MudPaper>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                        <MudStepExtended Order="1" Icon="@Icons.Material.Filled.Check" Title="Verification">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="8">
                                        <MudStack Spacing="1" Justify="Justify.Center">
                                            <MudPaper Outlined Class="pa-3">
                                                <MudTextM3 Align="Align.Center" Typo="TypoM3.Headline" Size="Size.Small">
                                                    Phone number verification
                                                </MudTextM3>
                                            </MudPaper>
                                            <MudPaper Outlined="true" Class="pa-3">
                                                <MudStack Spacing="3">
                                                    <MudTextM3 Align="Align.Center" Typo="TypoM3.Body" Size="Size.Medium">
                                                        Enter code from the SMS we sent you
                                                        to: <strong>@ResetModel.NewPhoneNumber</strong>
                                                    </MudTextM3>
                                                    <MudForm
                                                        @ref="confirmForm"
                                                        Model="ConfirmModel"
                                                        Validation="Validator.ValidateValue">
                                                        <MudStack Spacing="2">
                                                            <MudCodeInput
                                                                Count="6"
                                                                Margin="Margin.Normal"
                                                                Spacing="2"
                                                                Class="d-flex align-items-center"
                                                                @bind-Value="ConfirmModel.Code"
                                                                Variant="Variant.Outlined"/>
                                                        </MudStack>
                                                        <MudLoadingButton
                                                            FullWidth="true"
                                                            Variant="Variant.Filled"
                                                            Color="Color.Primary"
                                                            ButtonType="ButtonType.Button"
                                                            Disabled="@(ConfirmModel.Code.Length <= 5)"
                                                            OnClick="@(async () => await OnVerifyAsync())">
                                                            Verify
                                                        </MudLoadingButton>
                                                    </MudForm>
                                                </MudStack>
                                            </MudPaper>
                                            <CodeResend Context="messageContext"></CodeResend>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </ChildContent>
                        </MudStepExtended>
                    </ChildContent>
                </MudStepperExtended>
            </MudItem>
        </MudGrid>
    </AccessConfirmed>
</AccessConfirmation>

@code {

    [SupplyParameterFromQuery(Name = "return_url")]
    public string ReturnUrl { get; set; } = null!;

    [SupplyParameterFromForm] private ResetPhoneNumberModel ResetModel { get; set; } = new();

    [SupplyParameterFromForm] private CodeModel ConfirmModel { get; set; } = new();

    private MudStepperExtended stepper = new();
    private MudForm resetForm = new();
    private MudForm confirmForm = new();
    private MessageContext? messageContext;
    private ConfirmationContext? confirmationContext;

    protected override void OnInitialized()
    {
        confirmationContext = new ConfirmationContext()
        {
            Action = ActionType.Reset,
            Purpose = PurposeType.PhoneNumber
        };
    }

    private async Task OnSendCodeAsync()
    {
        await resetForm.Validate();

        if (resetForm.IsValid)
        {
            messageContext = new MessageContext()
            {
                UserId = UserState.UserId,
                Sender = SenderType.Sms,
                Purpose = PurposeType.PhoneNumber,
                Action = ActionType.Verify,
                Payload = new()
                {
                    { "To", ResetModel.NewPhoneNumber }
                }
            };

            var request = new CheckPhoneNumberRequest()
            {
                PhoneNumber = ResetModel.NewPhoneNumber,
                UserId = UserState.UserId
            };

            var result = await SecurityService.CheckPhoneNumberAsync(request);

            if (result.Success) await SendCodeAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task SendCodeAsync()
    {
        var request = messageContext!.ToSendCodeRequest();
        var result = await VerificationService.SendCodeAsync(request);

        if (result.Success) await stepper.StepNextAsync();
        else Snackbar.Add(result.Message, Severity.Error);
    }

    private async Task OnVerifyAsync()
    {
        await confirmForm.Validate();

        if (confirmForm.IsValid)
        {
            var request = messageContext!.ToVerifyCodeRequest(ConfirmModel.Code);
            var result = await VerificationService.VerifyCodeAsync(request);

            if (result.Success) await VerifyAsync();
            else Snackbar.Add(result.Message, Severity.Error);
        }
    }

    private async Task VerifyAsync()
    {
        var request = new ResetPhoneNumberRequest()
        {
            UserId = UserState.UserId,
            NewPhoneNumber = ResetModel.NewPhoneNumber,
        };

        var result = await SecurityService.ResetPhoneNumberAsync(request);

        if (result.Success)
        {
            Snackbar.Add("Phone number was successfully reset", Severity.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else Snackbar.Add(result.Message, Severity.Error);
    }

}